.text-display-7
{
    font-size: 22px;
    font-weight: 600;
}
.header_txt
{
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3%;
}
.header_txt1
{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;  
}
#textarea_buyer_desc
{
    width:100%;
    height:100px;
}
.br-wrapper
{
    margin-top: 4% ;
}
.br-theme-fontawesome-stars .br-widget a
{
    
    font: normal normal normal 25px/1 FontAwesome !important;
    margin-right: 12px !important;
}
.buyer_desc_count
{
    float:right;
}
.message
{
    font-size: 18px;
    margin-bottom:2%;
}
.payment-methods
{
    text-align:left;
    margin-top:2%;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after, .br-theme-fontawesome-stars .br-widget a.br-active:after
{
    color: #FFD700 !important;
}
.message1
{
    font-size:16px;
}
.thank-you article p, .thank-you-no-icon article p {
    font-size: 14px;
    line-height: 20px;
}
.thank-you
{
    width: 70%;
    text-align: center; 
    margin: auto;
}

article .fa, article .fa {
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 0;
    color: #2E5DC5;
    font-size: 66px;
}

#thank_section article article p, #thank_section article p {
    font-size: 14px;
    line-height: 20px;
}

#thank_section article, #thank_section article {
    position: relative;
    padding-left: 90px;
    text-align: left;
}
.error
{
    color:red;
    font-size:12px;
}