.active-orders-wrapper
{
    background: white;
    width: 100%;
    padding: 10px;
}
.order-cards-wrapper {
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.order-card-wrapper .card-inner {
    width: 100%;
    max-width: none;
    padding: 20px;

}
.order-cards-wrapper {
    width: 100%;
}
.order-card-wrapper .card-inner.late {
    border-left: 4px solid #f74040;
    border-top: none;
    padding: 20px;
}

.order-card-wrapper .card-inner {
        width: 100%;
    max-width: none;
    padding: 20px;
}

.order-card-wrapper .card-inner {
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #dadbdd;
    position: relative;
    width: 100%;
    margin: 20px auto;
}
.order-card-wrapper .order-card .order-data li.status span.late {
    background-color: #f74040;
}

.order-card-wrapper .order-card .order-data li.cta-wrapper a {
display: block;
font-size: 14px;
line-height: 12px;
font-weight: 600;
padding: 15px;
width: 100%;
height: 42px;
border-radius: 3px;
text-align: center;
color: #2E5DC5;
font-weight: 600;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width:100%;
}
.order-card-wrapper .order-card .order-data li.status span {
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
padding: 4px 8px;
border-radius: 999px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
color: #fff;
font-size: 10px;
font-weight: 700;
letter-spacing: .05em;
line-height: 1;
height: 18px;
}
.price,.delivery-time,.status
{
    display: block !important;
    padding-left: 10px;
    padding-right: 10px;
}
.order-card-wrapper .badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 4px;
    margin-top: -8px;
}

.order-card-wrapper .order-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.order-card-wrapper .order-card {
    width: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
}
.order-card-wrapper .order-card, .profile-picture-wrapper figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.order-card-wrapper .order-card .gig-image-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 60%;
    max-width: 100%;
    width: 295px;
    margin: 0 auto;
}

.order-card-wrapper .order-card .gig-image-wrapper {
    width: 77px;
    height: 46px;
    margin: 0;
    padding: 0;
}
.order-card-wrapper .order-card .order-data li {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 38px;
}

.order-card-wrapper .order-card .order-data li {
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.order-card-wrapper .order-card .order-data li:last-of-type {
    border: none;
    padding-bottom: 0;
}

.order-card-wrapper .badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 4px;
    margin-top: -8px;
}

.order-card-wrapper .order-card .order-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    width:100%;
}

.profile-picture-wrapper {
    width: 38px;
    height: 38px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;
    margin: 0 0 0.5rem;
}
.profile-picture-wrapper:before {
    background-color: #74767e;
    content: "";
    position: absolute;
    z-index: 1;
    top: 70%;
    right: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-picture-wrapper {
    width: 38px;
    height: 38px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;
}

.profile-picture-wrapper figcaption {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    background-size: contain;
    border-radius: 50%;
    color: #fff;
}
.order-card-wrapper .order-card, .profile-picture-wrapper figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.order-card-wrapper .order-card .buyer-username {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}
.order-card-wrapper .order-card .buyer-username {
    font-size: 16px;
    font-weight: 600;
    color: #222325;
    display: block;
    text-transform: capitalize;
    width: 150px;
    position: relative;
    padding: 0 10px 0 15px;
    margin-top: 0px;
}

.order-card-wrapper .order-card .order-data li h6 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #95979d;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
}

.order-card-wrapper .order-card .order-data li>span {
    font-size: 16px;
    font-weight: 400;
}




.order-card-wrapper .order-card .order-data li.user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 16px;
}

.active-orders-wrapper .filter-wrapper h3 {
    font-size: 18px;
    display: inline-block;
    color: #222325;
    font-weight: 800;
}
.active-orders-wrapper .filter-wrapper {
    text-align: right;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cf:after, .cf:before {
    content: " ";
    display: table;
}

.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.seller-performance-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
}
.active-orders-wrapper .filter-wrapper h3 {
    line-height: 42px;
    float: left;
}
.active-orders-wrapper .filter-wrapper h3 span {
        color: #95979d;
    line-height: 24px;
}


select {
    height: 40px;
    border: 1px solid #c5c6c9;
    border-radius: 3px;
    padding: 8px;
    font-size: 16px !important;
    border-radius: 3px;
    font-weight: 500;
}
.tooltipchar
{
    display: none;
}
.seller-performance-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 280px;
    flex: 0 0 280px;
    margin: 20px 0 auto 20px;
    border-right: 1px solid #e4e5e7;
}
.seller-performance-wrapper {
    background: #fff;
    padding: 1px 20px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e5e7;
}
.grade {
    float: right;
    font-weight: 700;
    color: #62646a;
}
.grade.green {
    color: #2E5DC5;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.profile-details-wrapper {
    padding-top: 24px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.seller-performance-wrapper .profile-progresses-wrapper .progresses-wrapper {
    margin-top: 26px;
    padding-top: 18px;
    border-bottom: 1px solid #e4e5e7;
    border-top: 1px solid #e4e5e7;
    padding-bottom: 4px;
}

.profile-details-wrapper .img-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.profile-details-wrapper .user-details-text-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-profile-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.profile-details-wrapper .profile-pict {
    cursor: pointer;
}

.user-profile-image .profile-pict {
    position: relative;
}

.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-profile-image .profile-pict .profile-pict-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.profile-details-wrapper .user-details-text-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.profile-details-wrapper .user-details-text-wrapper .user-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.profile-details-wrapper .user-details-text-wrapper .username-link {
    max-width: 150px;
}

.profile-details-wrapper .user-details-text-wrapper .user-details .ratings-details {
    font-size: 15px;
    color: #ffb33e;
    padding-left: 6px;
}

.profile-details-wrapper .user-details-text-wrapper .user-details .seller-rating {
    max-width: 18px;
    vertical-align: text-top;
}

.profile-details-wrapper .user-details-text-wrapper .user-details .ratings-details .star-value {
    font-weight: 700;
    padding-left: 4px;
}
.profile-details-wrapper .user-details-text-wrapper .user-details .ratings-details .star-value.not-available {
    color: #62646a;
    font-weight: 400;
}

.profile-details-wrapper .user-details-text-wrapper .username-link {
    max-width: 105px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.profile-details-wrapper .user-details-text-wrapper .username-link {
    color: #62646a;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.seller-performance-wrapper .profile-progresses-wrapper .progresses-wrapper {
    margin-top: 26px;
    padding-top: 18px;
    border-bottom: 1px solid #e4e5e7;
    border-top: 1px solid #e4e5e7;
    padding-bottom: 4px;
}
.seller-performance-wrapper .kpi-bar-ir-wrapper {
    display: block;
    padding-bottom: 12px;
}
.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.seller-performance-wrapper .kpi-bar-ir-wrapper .kpi-bar-tooltip.specific-z-index {
    width: 100%;
    z-index: 20;
}
.e4rLWCQ._5tFuFhP {
    position: relative;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper .kpi-bar-tooltip.specific-z-index .kpi-bar-tooltip-content {
    width: inherit;
}
.seller-performance-wrapper .kpi-bar-ir-wrapper .kpi-bar-tooltip.specific-z-index {
    width: 100%;
    z-index: 20;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper .kpi-bar-tooltip.specific-z-index {
    width: 100%;
    z-index: 20;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper a {
    color: #62646a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 15px;
}
.seller-performance-wrapper .kpi-bar-ir-wrapper a h6 {
    font-weight: 400;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper a h6:hover {
    text-decoration: none;
}
.seller-performance-wrapper .kpi-bar-ir-wrapper .kpi-bar-tooltip.specific-z-index:hover
{
    text-decoration: none;
}
.seller-performance-wrapper .kpi-bar-ir-wrapper a .progress-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper a .progress-container .progress-bar-wrapper {
    position: relative;
    width: 60px;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper a .progress-container .percent-text {
    padding-left: 12px;
    font-weight: 500;
    font-size: 14px;
    width: 45px;
    text-align: right;
}

.dashboard-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.T2t2hZx {
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.T2t2hZx .\+8ZeAtI {
    position: relative;
    height: 8px;
    background: #e4e5e7;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 999px;
}

.T2t2hZx .EwNCrd9 {
    background: #2E5DC5;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}

.seller-performance-wrapper .kpi-bar-ir-wrapper a .progress-container .percent-text {
    padding-left: 12px;
    font-weight: 500;
    font-size: 14px;
    width: 45px;
    text-align: right;
}

.seller-performance-wrapper .kpi-text-ir-wrapper {
    margin-bottom: 12px;
    font-size: 16px;
}

.seller-performance-wrapper .kpi-text-ir-wrapper .kpi-text-tooltip.specific-z-index {
    width: 100%;
    z-index: 20;
}

.seller-performance-wrapper .kpi-text-ir-wrapper .kpi-text-tooltip.specific-z-index .kpi-text-tooltip-content {
    width: inherit;
}

.seller-performance-wrapper .kpi-text-ir-wrapper h6 {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}

.seller-performance-wrapper .kpi-text-ir-wrapper .grade.green {
    color: #2E5DC5;
}
.seller-performance-wrapper .earnings-wrapper {
    margin: 16px 0 24px;
}
.seller-performance-wrapper .kpi-text-ir-wrapper {
    margin-bottom: 12px;
    font-size: 16px;
}
.seller-performance-wrapper .kpi-text-ir-wrapper .kpi-text-tooltip.specific-z-index {
    width: 100%;
    z-index: 20;
}
.seller-performance-wrapper .kpi-text-ir-wrapper .kpi-text-tooltip.specific-z-index .kpi-text-tooltip-content {
    width: inherit;
}
.seller-performance-wrapper .kpi-text-ir-wrapper .kpi-text-tooltip.specific-z-index {
    width: 100%;
    z-index: 20;
}
.seller-performance-wrapper .earnings-wrapper a {
    color: #222325;
}
.seller-performance-wrapper .earnings-wrapper h6 {
    color: #62646a;
    font-weight: 600;
}

.seller-performance-wrapper .kpi-text-ir-wrapper .grade {
    float: right;
    font-weight: 700;
    color: #62646a;
}

.help_div
{
   position: absolute;
   right: 5px;
   bottom: 0; 
}
.helptext_desc
{
font-size: 12px;
width: 300px;
}    
#profile_view
{
    margin-right: 1%;
    margin-left: 1%;
    background: #fafafa;
}
#column-filter-mid
{
    max-width: 5px;
}