.db-manage-gigs .db-new-filters .btn-create-gig {
    position: absolute;
    right: 0;
    top: 10px;
}
.btn-standard.btn-green {
    background-color: #2E5DC5;
    font-weight: 700;
    color: #fff!important;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 5px;
    float: right;
}
 h1.alt, .text-display-1.alt {
    font-weight: 600;
    display: inline-block;
    float: left;
    font-size: 35px;
    padding-bottom: 1%;
}
.db-new-header {
    padding-bottom: 20px;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.db-manage-gigs header .accept-requests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.toggle-wrapper:first-child {
    margin-left: 0;
}
.db-manage-gigs header .accept-briefs {
    margin-right: 24px;
}
.toggle-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.db-manage-gigs header .accept-requests .toggle-wrapper label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.toggle-wrapper label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #222325;
    text-transform: capitalize;
    cursor: pointer;
}
.hint--bottom-right:before, .hint--bottom-right:after {
    top: 100%;
    right: 50%;
}
.toggle-wrapper label input[type=checkbox] {
    display: none;
}
.db-manage-gigs header .accept-requests .toggle-wrapper .fake-toggle {
    margin: 0 8px;
}
.toggle-wrapper label .fake-toggle {
    background-color: #fff;
    width: 30px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    position: relative;
    box-shadow: inset 0 0 0 1px #ccc;
    border-radius: 15px;
}
.hint--bottom-right:before, .hint--bottom-right:after {
    top: 100%;
    right: 50%;
}
.toggle-wrapper label .fake-toggle:before, .toggle-wrapper label .fake-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 15px;
}
.toggle-wrapper label .fake-toggle:before {
    background-color: #2E5DC5;
    -webkit-transition: width .2s ease-in-out,border-radius .2s ease-in-out;
    transition: width .2s ease-in-out,border-radius .2s ease-in-out;
}
.db-manage-gigs header .accept-briefs .set-budget-cta {
    background: 0 0;
    border: none;
    text-decoration: underline;
    color: #404145;
    margin-left: 4px;
}
.hint--top:before, .hint--top:after {
    bottom: 100%;
    left: 50%;
}
.hint--top:before {
    margin-left: -5px;
    margin-bottom: -12px;
    border-top-color: #222325;
}

#manage_gigs
{
    margin-left: 2%;
    margin-right: 2%;
}

#manage_gigs .nav-tabs {
    border-bottom: 1px #ddd solid;
    position: relative;
    padding-bottom: 2%;
}
.circle
{
    border-radius: 15px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    font-size: 11px;
    font-weight: 700;
    color: white;
    margin-left:6px;
}
.circle span{
    line-height: 20px;
    height: 20px;
}
#manage_gigs ul li a.active
{
    color:#2E5DC5 ;
}
#manage_gigs ul li a
{
    font-size: 14px;
    color: #333;
    font-weight: 600;
    padding: 20px;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
}
.tab-content
{
    padding-top: 2%;
}

.db-manage-gigs h6
{
text-align: left;
font-weight: 700;
padding-left: 2%;
margin-bottom:2%;
}
.header_row 
{
border-top: 1px solid #e4e5e7;
border-bottom: 1px solid #e4e5e7;
width: 100%;
margin-left: 2px;
height: 35px;
}
.header_row h5
{
text-align: left;
font-weight: 600;
padding-left: 2%;
margin-bottom:2%;
font-size:13px;
color: #95979d;
text-transform: uppercase;
height: 35px;
line-height: 35px;
}

.text_row .order-buyer {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-left: 7%;
margin-top: 4%;
margin-bottom: 4%;
}
.text_row .order-buyer .avatar {
position: relative;
}

.text_row figure.fit-avatar-figure {
background-color: #b5b6ba;
margin: 0;
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
position: relative;
min-width: 1em;
height: 1em;
border-radius: 50%;
overflow: hidden;
}
.text_row figure.fit-avatar-figure figcaption {
font-size: 49%;
font-weight: 600;
color: #fff;
text-transform: uppercase;
}
.text_row .fit-avatar-image {
background-size: cover;
position: absolute;
width: 100%;
height: 100%;
}
.text_row .order-buyer .username {
padding-left: 20px;
word-break: break-all;
font-weight:600;
font-size:14px;
}
.text_row
{
height: 60px;
line-height: 60px;
border-top: 1px solid #e4e5e7;
border-bottom: 1px solid #e4e5e7;
}
.activity_row .order-gig-title .gig-name,.activity_row .total
{
font-size: 13px;
font-weight: 400;
}
.text_row .order-gig-title .gig-name {
min-height: 20px;
white-space: nowrap;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
text-align:left;
}
.activity_row .order-gig-title .gig-name a, .activity_row .total 
{
color: #95979d !important;
font-weight:400 !important;
}
.text_row .order-gig-title .gig-name a, .text_row .due-on, .text_row .total {
color: #62646a;
text-decoration: none;
font-weight:600;
text-align:left;
}
.text_row .order-status {
display: inline-block;
color: #fff;
font-size: 10px;
font-weight: 700;
line-height: 25px;
text-align: center;
text-transform: uppercase;
height: 25px;
width: auto;
min-width: 70px;
padding: 0 10px;
border-radius: 4px;
background: #dadbdd;
border: 1px solid #dadbdd;
text-align:left;
}
.activity_row
{
border:none;
height: 40px;
line-height: 40px;
color: #95979d;
}
.text_row .status
{
height: 60px;
line-height: 60px;
margin-top: 8%;
float:left;
}
.order-status a{
color:white;
text-decoration:none;
}