{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - Billing History</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/billing.css' %}" type="text/css" />
<div class="all_page page-flex__content pt0 m0">
    <div id="event_list" class="event-list js-event-list"></div>
    <div id="fox_notification_block"></div>
    <div class="row justify-content-center mt-0" id="manage_gigs">
       <div class="col-11 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mb-3"  id="manage_gigs_card">
             <div class="row">
                <div class="col-md-12 db-manage-gigs ">
                    <h1 class="alt">Billing</h1>
                </div>
                <div class="col-md-12 mx-0">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#billinghistorytab" role="tab" class="active" data-toggle="tab">Billing History </a></li>
                        <li><a href="#balancestab" role="tab" data-toggle="tab">Balances </a></li>
                        <li><a href="#withdrawntab" role="tab" data-toggle="tab">Withdrawal Transactions </a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="billinghistorytab">
                                <h4 class="m-t-40 m-b-40">Billing history</h4>
                                <div class="table-main">
                                   <div class="table-menubar">
                                      <div class="table-menubar-controls">
                                         <div class="table-menubar-filters-wrapper">
                                            <div class="table-menubar-filter-wrapper">
                                               <div class="W46fKfn cK9KPQl">
                                                  <span class="_5-fo9i5">
                                                     <div class="table-filter-button-wrapper">
                                                        <button class="FW1syM7 NoXfjG8 co-grey-1000 table-filter-button DFk8oxc bg-co-white" onclick="date_select_click(this);" id="date_select">
                                                           <span class="table-filter-button-text">Date range</span>
                                                           <span class="XQskgrQ table-filter-button-chevron" aria-hidden="true" style="width: 10px; height: 10px;">
                                                              <svg width="11" height="7" viewBox="0 0 11 7" xmlns="http://www.w3.org/2000/svg">
                                                                 <path d="M5.4636 6.38899L0.839326 1.769C0.692474 1.62109 0.692474 1.38191 0.839326 1.23399L1.45798 0.61086C1.60483 0.462945 1.84229 0.462945 1.98915 0.61086L5.72919 4.34021L9.46923 0.61086C9.61608 0.462945 9.85354 0.462945 10.0004 0.61086L10.619 1.23399C10.7659 1.38191 10.7659 1.62109 10.619 1.769L5.99477 6.38899C5.84792 6.5369 5.61046 6.5369 5.4636 6.38899Z"></path>
                                                              </svg>
                                                           </span>
                                                        </button>
                                                        <div class="Gcze-fJ" id="date_range_div">
                                                            <aside class="_77O-JH4"  data-position="top-left" style="min-width: 134.484px; left: 32px; top: 81.3906px; padding-bottom: 8px; padding-top: 8px;">
                                                               <form id="date_range_form">
                                                                <div class="_5KluhlZ">
                                                                  <div class="table-filter table-filter-type-date">
                                                                     <div class="table-filter-header">
                                                                        <h6 class="co-text-darkest">Date range</h6>
                                                                     </div>
                                                                     <div class="table-filter-body">
                                                                        <div class="flex">
                                                                           <div class="m-r-12">
                                                                              <h6 class="tbody-6 text-semi-bold m-b-8">From</h6>
                                                                              <div class="W46fKfn cK9KPQl +cX12Jm">
                                                                                 <span class="_5-fo9i5">
                                                                                    <div class="WvIqLXU eXfr7qm">
                                                                                       <div class="+T1b6wH"><input class="GD3asS+" type="date" id="date_from"  position="bottom-left"  value="" required></div>
                                                                                    </div>
                                                                                 </span>
                                                                              </div>
                                                                           </div>
                                                                           <div class="m-l-12">
                                                                              <h6 class="tbody-6 text-semi-bold m-b-8">To</h6>
                                                                              <div class="W46fKfn cK9KPQl +cX12Jm">
                                                                                 <span class="_5-fo9i5">
                                                                                    <div class="WvIqLXU eXfr7qm">
                                                                                       <div class="+T1b6wH"><input class="GD3asS+" type="date" id="date_to"   position="bottom-left" value="" required></div>
                                                                                    </div>
                                                                                 </span>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                     <div class="table-filter-footer">
                                                                        <div class="table-filter-footer-button"></div>
                                                                        <div class="table-filter-footer-button"><input type="submit" class="FW1syM7 L1yjt43 p9qU5Ka co-green-100 QsHAjag bg-co-green-300" value="Apply"></div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </form>
                                                            </aside>
                                                         </div>
                                                     </div>
                                                  </span>
                                               </div>
                                            </div>
                                            <div class="table-menubar-filter-wrapper">
                                               <select id="category" onchange="categoryonChange(this)">
                                                    <option> Select Category</option>
                                                    {% for cat_list in cat_lists %}
                                                        <option value="{{cat_list.cat_id}}">{{cat_list.cat_name}}</option>
                                                    {% endfor %}
                                               </select>
                                            </div>
                                         
                                         </div>
                                       
                                      </div>
                                   </div>
                                   <div class="table-body table-body-border">
                                      <table class="table table-selectable" id="tbl_balance">
                                         <thead class="table-thead">
                                            <tr class="table-tr">
                                               <th class="table-th table-col" colspan="3">Date</th>
                                               <th class="table-th table-col table-hide-sm" colspan="4">Transaction</th>
                                               <th class="table-th table-col table-hide-md" colspan="5">Service</th>
                                               <th class="table-th table-col table-hide-md" colspan="3">Order</th>
                                               <th class="table-th table-col table-hide-sm table-align-right" colspan="2">Currency</th>
                                               <th class="table-th table-col table-align-right" colspan="3">Total</th>
                                            </tr>
                                         </thead>
                                         <tbody class="table-tbody">
                                          
                                         </tbody>
                                      </table>
                                   </div>
                                  
                                </div>
                        </div>
                        <div class="tab-pane" id="balancestab"> 
                                <h4 class="m-t-40 m-b-40">Available balances</h4>
                                <div class="billing-hidden lg-billing-visible">
                                   <div class="nN3Nb0x RRjyLus">
                                      <div class="fit-col-xs-6">
                                         <h6 class="m-b-16 ">Letworkbedone Balance</h6>
                                      </div>
                                      <div class="fit-col-xs-6">
                                         <h6 class="m-b-16 ">Letworkbedone Credits</h6>
                                      </div>
                                   </div>
                                   <div class="nN3Nb0x RRjyLus">
                                      <div class="fit-col-xs-6">
                                         <dl class="flex bg-co-white QnNhENV flex-col p-l-24 p-r-24 SdWyMBk">
                                            <div class="p-t-24 p-b-24 IiCJj-i b-0">
                                               <div class="flex flex-row flex-between flex-items-start">
                                                  <div class="flex flex-items-center earning_div" style="gap: 8px;">
                                                     <dt class="co-grey-1000 text-semi-bold">Earnings</dt>
                                                     <div class="W46fKfn k-kBZXW">
                                                        <span class="_5-fo9i5">
                                                           <span class="XQskgrQ k-kBZXW" aria-label="tooltip" role="img" style="width: 12px; height: 12px; fill: rgb(181, 182, 186);">
                                                              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentFill">
                                                                 <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16ZM6.667 6.222c0-.228.075-.59.277-.87C7.112 5.12 7.4 4.89 8 4.89c.734 0 1.116.388 1.245.777.136.41.02.867-.405 1.15-.701.468-1.218.92-1.49 1.556-.24.56-.24 1.175-.239 1.752v.098H8.89c0-.728.015-.964.095-1.15.06-.142.21-.356.842-.777a2.751 2.751 0 0 0 1.106-3.19C10.558 3.978 9.488 3.111 8 3.111c-1.179 0-2.001.511-2.5 1.203a3.37 3.37 0 0 0-.611 1.908h1.778Zm2.222 6.667V11.11H7.11v1.778H8.89Z"></path>
                                                              </svg>
                                                           </span>
                                                        </span>
                                                     </div>
                                                  </div>
                                                  <div class="text-trunc earning_page" style="margin-top: 0px;"><a href="/user/{{request.user.username}}/balance" class="co-blue DlZb6gW" target="_blank" rel="noopener noreferrer">Your Earnings Page</a></div>
                                               </div>
                                               <dd class="text-display-3 text-bold co-grey-1100" style="margin-top: 24px;"> $ {{earning_bal}}</dd>
                                               <dd class="tbody-6 co-grey-1000 text-normal text-trunc" style="margin-top: 8px;">Available for withdrawal or purchases.</dd>
                                            </div>
                                            <div class="p-t-24 p-b-24 IiCJj-i ">
                                               <div class="flex flex-items-center" style="gap: 8px;">
                                                  <dt class="co-grey-1000 text-semi-bold">From canceled orders</dt>
                                                  <div class="W46fKfn k-kBZXW">
                                                     <span class="_5-fo9i5">
                                                        <span class="XQskgrQ k-kBZXW" aria-label="tooltip" role="img" style="width: 12px; height: 12px; fill: rgb(181, 182, 186);">
                                                           <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentFill">
                                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16ZM6.667 6.222c0-.228.075-.59.277-.87C7.112 5.12 7.4 4.89 8 4.89c.734 0 1.116.388 1.245.777.136.41.02.867-.405 1.15-.701.468-1.218.92-1.49 1.556-.24.56-.24 1.175-.239 1.752v.098H8.89c0-.728.015-.964.095-1.15.06-.142.21-.356.842-.777a2.751 2.751 0 0 0 1.106-3.19C10.558 3.978 9.488 3.111 8 3.111c-1.179 0-2.001.511-2.5 1.203a3.37 3.37 0 0 0-.611 1.908h1.778Zm2.222 6.667V11.11H7.11v1.778H8.89Z"></path>
                                                           </svg>
                                                        </span>
                                                     </span>
                                                  </div>
                                               </div>
                                               <dd class="text-display-3 text-bold co-grey-1100" style="margin-top: 24px;">$ {{cancel_bal}}</dd>
                                               <dd class="tbody-6 co-grey-1000 text-normal text-trunc" style="margin-top: 8px;">Use for purchases.</dd>
                                            </div>
                                         </dl>
                                      </div>
                                      <div class="fit-col-xs-6">
                                         <dl class="flex bg-co-white QnNhENV flex-col p-l-24 p-r-24 SdWyMBk">
                                            <div class="p-t-24 p-b-24 IiCJj-i b-0">
                                               <div class="flex flex-items-center" style="gap: 8px;">
                                                  <dt class="co-grey-1000 text-semi-bold">Credits</dt>
                                                  <div class="W46fKfn k-kBZXW">
                                                     <span class="_5-fo9i5">
                                                        <span class="XQskgrQ k-kBZXW" aria-label="tooltip" role="img" style="width: 12px; height: 12px; fill: rgb(181, 182, 186);">
                                                           <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentFill">
                                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16ZM6.667 6.222c0-.228.075-.59.277-.87C7.112 5.12 7.4 4.89 8 4.89c.734 0 1.116.388 1.245.777.136.41.02.867-.405 1.15-.701.468-1.218.92-1.49 1.556-.24.56-.24 1.175-.239 1.752v.098H8.89c0-.728.015-.964.095-1.15.06-.142.21-.356.842-.777a2.751 2.751 0 0 0 1.106-3.19C10.558 3.978 9.488 3.111 8 3.111c-1.179 0-2.001.511-2.5 1.203a3.37 3.37 0 0 0-.611 1.908h1.778Zm2.222 6.667V11.11H7.11v1.778H8.89Z"></path>
                                                           </svg>
                                                        </span>
                                                     </span>
                                                  </div>
                                               </div>                                             
                                               <dd class="text-display-3 text-bold co-grey-1100" style="margin-top: 24px;">$ {{avail_bal}}</dd>
                                               <dd class="tbody-6 co-grey-1000 text-normal text-trunc" style="margin-top: 8px;">Use for purchases.</dd>
                                            </div>

                                            <div class="p-t-24 p-b-24 IiCJj-i b-0">
                                                <div class="flex flex-items-center" style="gap: 8px;">
                                                   <dt class="co-grey-1000 text-semi-bold">Used Credits</dt>
                                                   <div class="W46fKfn k-kBZXW">
                                                      <span class="_5-fo9i5">
                                                         <span class="XQskgrQ k-kBZXW" aria-label="tooltip" role="img" style="width: 12px; height: 12px; fill: rgb(181, 182, 186);">
                                                            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentFill">
                                                               <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16ZM6.667 6.222c0-.228.075-.59.277-.87C7.112 5.12 7.4 4.89 8 4.89c.734 0 1.116.388 1.245.777.136.41.02.867-.405 1.15-.701.468-1.218.92-1.49 1.556-.24.56-.24 1.175-.239 1.752v.098H8.89c0-.728.015-.964.095-1.15.06-.142.21-.356.842-.777a2.751 2.751 0 0 0 1.106-3.19C10.558 3.978 9.488 3.111 8 3.111c-1.179 0-2.001.511-2.5 1.203a3.37 3.37 0 0 0-.611 1.908h1.778Zm2.222 6.667V11.11H7.11v1.778H8.89Z"></path>
                                                            </svg>
                                                         </span>
                                                      </span>
                                                   </div>
                                                </div>                                             
                                                <dd class="text-display-3 text-bold co-grey-1100" style="margin-top: 24px;">$ {{balance_used}}</dd>
                                                <dd class="tbody-6 co-grey-1000 text-normal text-trunc" style="margin-top: 8px;">Used for purchases.</dd>
                                             </div>
                                             <div class="p-t-24 p-b-24 IiCJj-i ">
                                                <div class="conclude_div">
                                                   <h5>Like to earn some credits?</h5>
                                                   <p class="m-t-8">Refer people you know and everyone benefits!</p>
                                                   <a class="FW1syM7 L1yjt43 co-white billing-w-full sm-billing-w-auto m-t-28 bg-co-green-700" target="_blank" rel="noreferrer" href="/affiliate_program">Earn Letworkbedone Credits</a>
                                                </div>
                                             </div>
                                         </dl>
                                      </div>
                                     
                                   </div>
                                </div>
                        </div>

                        <div class="tab-pane" id="withdrawntab">
                            <h4 class="m-t-40 m-b-40">Withdrawal Transactions</h4>
                            <div class="table-main">
                               <div class="table-body table-body-border">
                                  <table class="table table-selectable" id="tbl_withdrawa">
                                     <thead class="table-thead">
                                        <tr class="table-tr">
                                           <th class="table-th table-col" colspan="3">Date</th>
                                           <th class="table-th table-col table-hide-sm" colspan="4">Amount</th>
                                           <th class="table-th table-col table-hide-md" colspan="5">Message</th>
                                           <th class="table-th table-col table-hide-md" colspan="3">Status</th>
                                           <th class="table-th table-col table-hide-md" colspan="3">Cleared On</th>
                                           <th class="table-th table-col table-hide-sm table-align-right" colspan="2">Currency</th>
                                        </tr>
                                     </thead>
                                     <tbody class="table-tbody">
                                        {% for list in withdrawal_list %}
                                            <tr class="table-tr"> 
                                                <td class="table-td" colspan="3">{{list.initiated_date| date:"M d, Y" }}</td>
                                                <td class="table-td table-hide-sm" colspan="4"> <p class="text-trunc"></p> {{list.withdrawal_amount|floatformat:2}}</td>
                                                <td class="table-td table-hide-md" colspan="5"> {{list.withdrawal_message|title}}</td> 
                                                <td class="table-td table-hide-md" colspan="3"> {{list.withdrawan_status|upper}} </td> 
                                                <td class="table-td table-hide-md" colspan="3"> {{list.withdrawn_date| date:"M d, Y" }} </td> 
                                                <td class="table-td table-hide-md" colspan="2"> USD </td> 
                                            </tr>
                                        {% endfor %}
                                     </tbody>
                                  </table>
                               </div>
                              
                            </div>
                    </div>
                    </div>
                </div>     
             </div>
          </div>
       </div>
    </div>
 </div>
 {% if request.session.userpage == "buyer" %}
    {% include  'Dashboard/base_buyer.html' %}
{% else %}
   {% include  'Dashboard/base_seller.html' %}
{% endif %}


<script>
    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url: "/get_date_range_data/",
            data: {'userid':'{{request.user.id}}','date_from':"",'date_to':"","data_all":"all","category":"","cat_active":"no"},
            success: function(data) 
            {  
                $("#tbl_balance tbody").empty();
                $.each(data, function(i, v) {
                    $("#tbl_balance tbody").append(' <tr class="table-tr"> <td class="table-td" colspan="3">'+v.t_date+'</td> <td class="table-td table-hide-sm" colspan="4"> <p class="text-trunc">Payment</p> <p class="tbody-7 text-trunc co-text-medium">'+v.t_id+'</p> </td> <td class="table-td table-hide-md" colspan="5">'+v.t_category+'</td> <td class="table-td table-hide-md" colspan="3"> <div class="W46fKfn k-kBZXW"><span class="_5-fo9i5"><a class="invoices-order-link text-trunc" href="/user/{{request.user.username}}/manage_orders/'+v.t_order_no+'/activities" target="_blank" rel="noreferrer noopener" delay="120" content="View order" position="top" boxclassname="_8UHHk5Q" boxcontentclassname="Yn90o2E">'+v.t_order_no+'</a></span></div> </td> <td class="table-td table-hide-sm table-align-right" colspan="2"><span class="text-bold">'+v.t_currency+'</span></td> <td class="table-td table-align-right" colspan="3"><span class="text-bold">'+v.t_amount+'</span></td> </tr>');
                });
            }
        });
        $("#date_range_form").submit(function(e)
        {
            e.preventDefault();
            date_from = $("#date_from").val();
            date_to = $("#date_to").val();
            $.ajax({
                type:"GET",
                url: "/get_date_range_data/",
                data: {'userid':'{{request.user.id}}','date_from':date_from,'date_to':date_to,"data_all":"","category":"","cat_active":"no"},
                success: function(data) 
                {  
                    $("#tbl_balance tbody").empty();
                    $.each(data, function(i, v) {
                        $("#tbl_balance tbody").append(' <tr class="table-tr"> <td class="table-td" colspan="3">'+v.t_date+'</td> <td class="table-td table-hide-sm" colspan="4"> <p class="text-trunc">Payment</p> <p class="tbody-7 text-trunc co-text-medium">'+v.t_id+'</p> </td> <td class="table-td table-hide-md" colspan="5">'+v.t_category+'</td> <td class="table-td table-hide-md" colspan="3"> <div class="W46fKfn k-kBZXW"><span class="_5-fo9i5"><a class="invoices-order-link text-trunc" href="/user/{{request.user.username}}/manage_orders/'+v.t_order_no+'/activities" target="_blank" rel="noreferrer noopener" delay="120" content="View order" position="top" boxclassname="_8UHHk5Q" boxcontentclassname="Yn90o2E">'+v.t_order_no+'</a></span></div> </td> <td class="table-td table-hide-sm table-align-right" colspan="2"><span class="text-bold">'+v.t_currency+'</span></td> <td class="table-td table-align-right" colspan="3"><span class="text-bold">'+v.t_amount+'</span></td> </tr>');
                    });
                    $("#date_range_div").toggle();
                }
            });
        });
    });
    function date_select_click(ev)
    {
        $("#date_range_div").toggle();
    }
    function categoryonChange(ev)
    {
        if(ev.value.trim().length != 0)
        {
            $.ajax({
                type:"GET",
                url: "/get_date_range_data/",
                data: {'userid':'{{request.user.id}}','date_from':"",'date_to':"","data_all":"","category":$("#category option:selected").text(),"cat_active":"yes"},
                success: function(data) 
                {  
                    $("#tbl_balance tbody").empty();
                    $.each(data, function(i, v) {
                        $("#tbl_balance tbody").append(' <tr class="table-tr"> <td class="table-td" colspan="3">'+v.t_date+'</td> <td class="table-td table-hide-sm" colspan="4"> <p class="text-trunc">Payment</p> <p class="tbody-7 text-trunc co-text-medium">'+v.t_id+'</p> </td> <td class="table-td table-hide-md" colspan="5">'+v.t_category+'</td> <td class="table-td table-hide-md" colspan="3"> <div class="W46fKfn k-kBZXW"><span class="_5-fo9i5"><a class="invoices-order-link text-trunc" href="/user/{{request.user.username}}/manage_orders/'+v.t_order_no+'/activities" target="_blank" rel="noreferrer noopener" delay="120" content="View order" position="top" boxclassname="_8UHHk5Q" boxcontentclassname="Yn90o2E">'+v.t_order_no+'</a></span></div> </td> <td class="table-td table-hide-sm table-align-right" colspan="2"><span class="text-bold">'+v.t_currency+'</span></td> <td class="table-td table-align-right" colspan="3"><span class="text-bold">'+v.t_amount+'</span></td> </tr>');
                    });
                }
            });
        }
    }
</script>
{% endblock %}