{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - Freelance Service MarketPlace</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/index1.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'assets/css/frontend/buyer_dashboard.css' %}" type="text/css" />
<div class="all_page page-flex__content header-new-nav is_index">
    <div id="event_list" class="event-list js-event-list"></div>
    <div id="fox_notification_block"></div>
    <div class="payer-banner">
       <div class="kw-wrapper" data-editable-demo="" data-name="page__heading1" >
          <h1 class="kw-header--h1 t-align-c mb0">Buy affordable freelance services on the go</h1>
          <div class="payer-banner__text kw-header--h4 t-align-c">Shop with confidence protected by our 100% Money Back Guarantee</div>
          <div class="payer-banner__search">
             <div id="app">
                <div class="custom-search general-search-index">
                  <input name="buyer_query_type" type="text" id="buyer_query_type" placeholder="Find Services" spellcheck="false" class="js-header-search js-static-search header-search form-control" value="">
                  <span class="search-button"><button class="button button-success" type="button" id="buyer_search_btn">Search</button></span>
                </div>
             </div>
             <div class="payer-banner__search-sample">Some to try: 
               <input type="hidden" value="{{cat_list_json}}" id="buyer_catlist_hidden">
               {% for cat in cat_list|slice:":3" %}
                  <a class="payer-banner__search-link" href="/categories/{{cat.cat_name}}/{{cat.subcat_name}}/{{cat.subsubcat_name}}/" target="_blank">{{cat.subsubcat_name}}</a>,
               {% endfor %}
            </div>
          </div>
       </div>
    </div>
    <div class="popular-rubrics lg-centerwrap centerwrap mt20 m-m0">
       <h1 class="t-align-l pt20 m-fs22 mb-2">Popular Categories</h1>
       <div class="popular-rubrics__items">
         {% for p_cat in P_gig_details %}
          <div class="popular-rubrics__item">
             <a href="/categories/{{p_cat.gig_cat_name}}" target="_blank" class="popular-rubrics__link">
                <picture>
                   <img src="/media/{{p_cat.gig_cat_image}}" alt="{{p_cat.gig_cat_name}}">
                </picture>
                <span>{{p_cat.gig_cat_name|title}}</span>
             </a>
          </div>
          {% endfor %}
       </div>
    </div>
    {% if impression_gigs|length != 0 %}
    <div class="js-hidden-parent-block">
       <div id="app-carousels">
          <div class="kwork-card-carousel-block-bg viewed-kwork-carousel" style="">
             <div class="kwork-card-carousel-block centerwrap lg-centerwrap mt20 m-m0 authorized-kwork-block clearfix">
                <h2 class="kwork-card-carousel-block-title m-fs22 t-align-l">Inspired by Your Browsing Activity</h2>
                <div class="kwork-card-carousel kwork-detail-carousel cusongslist_big_5_column">
                   <div class="kwork-carousel-main-container has-nav">
                      <div class="kwork-carousel-nav"><a class="kwork-carousel-prev kwork-carousel-nav-button"><span class="kwork-carousel-nav-button-inner"><i class="kwork-carousel-nav-button-icon"></i></span></a> <a class="kwork-carousel-next kwork-carousel-nav-button"><span class="kwork-carousel-nav-button-inner"><i class="kwork-carousel-nav-button-icon"></i></span></a></div>
                      <div class="kwork-carousel-list-block">
                        <div class="has-nav kwork-card-carousel__card-list">
                           {% for imp_gigs in impression_gigs|slice:":8" %} 
                            <div data-id="19082363" class="kwork-card cusongsblock js-kwork-card cards-layout-item kwork-card-item cusongsblock--group-price">
                               <!----> 
                               <div class="kwork-card-item__wrapper">
                                  <div class="songperson cusongsblock__content kwork-card-item__left">
                                     <a href="/gigs/{{imp_gigs.gig_username}}/{{imp_gigs.gig_title}}" class="ispinner-container">
                                        <picture>
                                            <img src="{{imp_gigs.gig_img_url}}" alt="{{imp_gigs.gig_title}}">
                                         </picture>
                                     </a>
                                  </div>
                                  <div class="ta-left padding-content">
                                     <p><a href="/gigs/{{imp_gigs.gig_username}}/{{imp_gigs.gig_title}}">{{imp_gigs.gig_title|title}}</span></a></p>
                                     <div class="cusongsblock__panel">
                                        <div class="pull-left cusongsblock-panel__user-name m-hidden oneline-faded w120">
                                          <a href="user/profile/{{imp_gigs.gig_username}}" title="{{imp_gigs.gig_username}}" class="inspire__user-avatar dark-link"  title="swapq90"> <img src="{{imp_gigs.gig_gig_img}}" class="js-lazy-load-image" alt=""> 
                                             <div class="div_seller_levl"> 
                                                {{imp_gigs.gig_username |title}}
                                                <span class="_5-fo9i5">{{imp_gigs.gig_seller_level}}</span>
                                             </div>
                                             <div class="div_seller_levl1"> 
                                                <ul class="rating-block cusongsblock-panel__rating-list dib d-flex">
                                                   <li class="mr2 v-align-m"><i aria-hidden="true" class="fa fa-star gold"></i></li>
                                                   <li class="rating-block__rating-item--number fw600 v-align-m">{{imp_gigs.seller_count|floatformat:0}}</li>
                                                </ul>
                                                <span class="rating-block__count rating-block__count-star">({{imp_gigs.review_count}})</span>
                                             </div>
                                          </a>
                                         
                                           </div>
                                        <div class="pull-right cusongsblock-panel__rating m-pull-reset d-flex cusongsblock-panel__rating--mobile-hidden">
                                          
                                           
                                           <div class="price nowrap pull-right m-pull-right">
                                             <div class="kwork-cards-price"><span class=""><span class="usd"><span class="price-label price-label-en">Starting at</span> $</span>{{imp_gigs.start_price}}</span></div>
                                          </div>   
                                        </div>
                                     </div> 
                                                
                                  </div>
                               </div>
                               <!---->
                            </div> 
                            {% endfor %}
                         </div>
                      </div>
                      <div class="clear"></div>
                   </div>
                   <!---->
                </div>
                <!----> <!---->
             </div>
          </div>
          {% endif %}
          {% if search_data|length != 0 %}
          <div class="kwork-card-carousel-block-bg viewed-kwork-carousel" style="">
             <div class="kwork-card-carousel-block centerwrap lg-centerwrap mt20 m-m0 authorized-kwork-block clearfix">
                <h2 class="kwork-card-carousel-block-title m-fs22 t-align-l mb-2">Pick Up Where You Left Off</h2>
                <div class="kwork-card-carousel kwork-detail-carousel cusongslist_big_5_column">
                   <div class="kwork-carousel-main-container has-nav">
                      <!----> 
                      <div class="kwork-carousel-list-block">
                        <div class="has-nav kwork-card-carousel__card-list">
                           {% for sea_gig in search_data|slice:":8" %} 
                           <div data-id="19082363" class="kwork-card cusongsblock js-kwork-card cards-layout-item kwork-card-item cusongsblock--group-price">
                              <!----> 
                              <div class="kwork-card-item__wrapper">
                                 <div class="songperson cusongsblock__content kwork-card-item__left">
                                    <a href="/gigs/{{sea_gig.gig_username}}/{{sea_gig.gig_title}}" class="ispinner-container">
                                       <picture>
                                           <img src="{{sea_gig.gig_img_url}}" alt="{{sea_gig.gig_title}}">
                                        </picture>
                                    </a>
                                 </div>
                                 <div class="ta-left padding-content">
                                    <p><a href="/gigs/{{sea_gig.gig_username}}/{{sea_gig.gig_title}}">{{sea_gig.gig_title|title}}</span></a></p>
                                    <div class="cusongsblock__panel">
                                       <div class="pull-left cusongsblock-panel__user-name m-hidden oneline-faded w120">
                                         <a href="user/profile/{{sea_gig.gig_username}}" title="{{sea_gig.gig_username}}" class="inspire__user-avatar dark-link"  title="swapq90"> <img src="{{sea_gig.gig_gig_img}}" class="js-lazy-load-image" alt=""> 
                                          <div class="div_seller_levl"> 
                                             {{sea_gig.gig_username |title}}
                                             <span class="_5-fo9i5">{{sea_gig.gig_seller_level}}</span>
                                          </div>
                                          <div class="div_seller_levl1"> 
                                             <ul class="rating-block cusongsblock-panel__rating-list dib d-flex">
                                                <li class="mr2 v-align-m"><i aria-hidden="true" class="fa fa-star gold"></i></li>
                                                <li class="rating-block__rating-item--number fw600 v-align-m">{{sea_gig.seller_count|floatformat:0}}</li>
                                             </ul>
                                             <span class="rating-block__count rating-block__count-star">({{sea_gig.review_count}})</span>
                                          </div>
                                         </a>
                                        
                                          </div>
                                       <div class="pull-right cusongsblock-panel__rating m-pull-reset d-flex cusongsblock-panel__rating--mobile-hidden">
                                         
                                          
                                          <div class="price nowrap pull-right m-pull-right">
                                            <div class="kwork-cards-price"><span class=""><span class="usd"><span class="price-label price-label-en">Starting at</span> $</span>{{sea_gig.start_price}}</span></div>
                                         </div>   
                                       </div>
                                    </div> 
                                               
                                 </div>
                              </div>
                              <!---->
                           </div> 
                            {% endfor %}
                         </div>
                      </div>
                      <div class="clear"></div>
                   </div>
                   <!---->
                </div>
                <!----> <!---->
             </div>
          </div>
          {% endif %}
       </div>
    </div>
    <div id="app-modal">
       <div>
          <!---->
       </div>
    </div>
 </div>
{% include  'Dashboard/base_buyer.html' %}
<style>
   .kwork-card-carousel.kwork-detail-carousel.cusongslist_big_5_column, .popular-rubrics__items
   {
      width: 95%;
      margin: auto;
      max-width: inherit;
   }
   .popular-rubrics__items
   {
      margin-top:2%;
   }
   .popular-rubrics__link, .popular-rubrics__link:hover
   {
      text-align: left;
   }
   .popular-rubrics__link img, .cusongsblock__content img
   {
      margin-bottom: 10px;
   }
   .popular-rubrics__item
   {
      padding-left:0px;
   }
   .w120
   {
      width: 100%;
   }
   .rating-block
   {
      padding-top: 30%;
      padding-left: 15%;
   }
   .rating-block__count
   {
      padding-top: 32%;
   }
   .inspire__user-avatar
   {
      display:inline-flex;
      line-height:40px !important;
      text-decoration:none;
   }
   .inspire__user-avatar:hover{
      text-decoration:none;
   }
   .inspire__user-avatar img{
      margin-right: 10px;
   }
   .cusongsblock-panel__user-name
   {
      margin-bottom: 20px;
      width: 100%;
   }
   .select2-container
   {
      width:480px !important;
      padding-top: 1px;
   }
   .select2-container .select2-selection--single
   {
      width: 103%;
   }
   .kwork-card-carousel__card-list .kwork-card-item .cusongsblock__panel .mr2 i{
      padding-top: 20%;
   }
   .payer-banner__search .custom-search.general-search-index .search-button .button
   {
      z-index: 10;
      position: absolute;
   }
   .price
   {
      color:#2E5DC5;
      margin-left: 10px;
   }
   .payer-banner__search-sample
   {
      margin-top: 10px;
   }
   .payer-banner__search-link:hover
   {
      color:#2E5DC5;
   }
   .cusongsblock p a
   {
      padding-bottom:0px;
   }
   .div_seller_levl  span{
      font-size: 12px;
      color:#8a8a8a;
      display:block;
   }
   .div_seller_levl1
   {
      position: absolute;
      right: 34px;
      top: -7px;
      width: 31px;
      display: inline-flex;
   }

   #buyer_search_btn:disabled{
      cursor: not-allowed;
      cursor: -moz-not-allowed;
      cursor: -webkit-not-allowed;
      pointer-events:none;
   }
</style>
<script>
$("#buyer_search_btn").click(function () {
   if($("#buyer_query_type").val().trim().length != 0)
   {
      $("#buyer_search_btn").prop("disabled",true);
      $.ajax({
         type:"POST",
         url: "/post_search_key/",
         data: {'keyword':$("#buyer_query_type").val().trim(),"keyword_type":"keyword"},
         success: function(data) 
         {   
            $("#buyer_search_btn").prop("disabled",false);
            window.open('/search/'+$("#buyer_query_type").val().trim(), "_blank");
            $('#buyer_query_type').val("");
         }
      });
   }
   else{
      alert("Please enter some keyword");
   }
});
</script>
{% endblock %}