{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - Seller Review</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/payments.css' %}" type="text/css" />

<div class="all_page page-flex__content pt0 m0">
    <div id="event_list" class="event-list js-event-list"></div>
    <div id="fox_notification_block"></div>
    <div class="row justify-content-center mt-0" id="manage_payments">
        <div class="col-11 text-center p-0 mt-3 mb-2">
        <div id="perseus-app" class="payments_perseus">
            <span class="payments-sdk-package">
               <div class="payment-page">
                  <header class="header-package fiverr-header">
                     <div class="header-row-wrapper">
                        <div class="header-row max-width-container equal-padding row-main">
                           <button class="btn-navicon js-side-nav-trigger">
                              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19">
                                 <rect y="16" width="23" height="3" rx="1.5" fill="#555"></rect>
                                 <rect width="23" height="3" rx="1.5" fill="#555"></rect>
                                 <rect y="8" width="23" height="3" rx="1.5" fill="#555"></rect>
                              </svg>
                           </button>
                           <a href="{% url 'index' %}" class="site-logo">
                              <img class="js-header-theme-logo" src="{{logo_image_url}}" height="40" width="160" alt="mobile logo"/>
                           </a>
                         
                        </div>
                     </div>
                  </header>
                  <div class="loadable">
                    <div class="row justify-content-center mt-0">
                        <div class="col-10 text-center p-0 mt-3 mb-2">
                           <article class="payment-methods">
                              <div class="cash">
                                 <div class="radio-group">
                                    <article class="payment-methods" id="review_section">
                                        <section class="summary">
                                            <form id="form_buyer_review">
                                            <div class="row tab7" >
                                                <div class="col-lg-9">
                                                    <h4  class="header_txt">
                                                        Public Review
                                                     </h4>
                                                     <label class="message">
                                                        Share your experience with the community, to help them make better decisions.
                                                     </label>
                                                </div>
                                                <div class="col-lg-3">
                                                   
                                                </div>
                                             </div>
                                             <div class="row tab7 mt-5 mb-5" >
                                                <div class="col-lg-6">
                                                    <h5  class="header_txt1">
                                                        Overall experience with Buyer
                                                     </h5>
                                                     <label class="message1">
                                                        How would you like to rate buyer in terms of customer support, communication skills, understanding ability?
                                                     </label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <select id="rating_buyer" name="rating">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                             </div>
                                             <div class="row tab7 mt-3 mb-5" >
                                                <div class="col-lg-8">
                                                    <h5  class="header_txt1">
                                                        What was it like working with this buyer?
                                                     </h5>
                                                     <textarea maxlength="{{buyer_descp_count}}" required placeholder="Did Buyer Provided enough Requirements? Did the buyer helped you to achieve your Goal." id="textarea_buyer_desc" ></textarea>
                                                    <span class="buyer_desc_count">0 / {{buyer_descp_count}} max</span>
                                                </div>
                                                <div class="col-lg-3">
                                                    
                                                </div>
                                             </div>
                                             <div class="row tab7 mt-3 mb-5" >
                                                <div class="col-lg-6">

                                                </div>
                                                <div class="col-lg-3" style="text-align:right;">
                                                    <button type="submit" class="mt-3 agqrXOY BvNepr1 r+NFCla co-white pay-button bg-co-green-700" id="buyer_rev_submit">Submit Review</button>
                                                </div>
                                             </div>
                                             <div class="row tab7 mt-3 mb-5" >
                                                <div class="col-lg-7">
                                                    <div class="error-message-review">
                                                        <span class="error">Please fill all the details.</span>
                                                    </div> 
                                                </div>
                                            </div>
                                            </form>
                                            </section>
                                    </article>

                                    <article class="payment-methods" id="thank_section">
                                        <div class="cash">
                                            <div class="radio-group">
                                               <article class="payment-methods">
                                                   <section class="summary">
                                                       <div class="row tab7" >
                                                           <div class="col-lg-9">
                                                                <h1>Thank you for your review</h1>
                                                                <article>
                                                                   <i class="fa fa-check-circle-o"></i>
                                                                   <p class="p-t-20">  <b>{{order_details.order_to.username}}</b> keep on doing good work, we appreciate your patience.</p>
                                                                   <p class="mt-3"><a href="/user/{{request.user.username}}/manage_orders" class="m-t-20">Manage your orders now.</a></p>
                                                                </article>
                                                           </div>
                                                        </div>
                                                        </div>
                                                   </section>
                                               </article>
            
                                 </div>
                              </div>
                           </article>
                        </div>
                      
                    </div>
                  </div>
               </div>
            </span>
         </div> 
    
        </div>
    </div>
 </div>
{% include  'Dashboard/base_buyer.html' %}
<style>
.text-display-7
{
    font-size: 22px;
    font-weight: 600;
}
.header_txt
{
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3%;
}
.header_txt1
{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;  
}
#textarea_buyer_desc
{
    width:100%;
    height:100px;
}
.br-wrapper
{
    margin-top: 4% ;
}
.br-theme-fontawesome-stars .br-widget a
{
    
    font: normal normal normal 25px/1 FontAwesome !important;
    margin-right: 12px !important;
}
.buyer_desc_count
{
    float:right;
}
.message
{
    font-size: 18px;
    margin-bottom:2%;
}
.payment-methods
{
    text-align:left;
    margin-top:2%;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after, .br-theme-fontawesome-stars .br-widget a.br-active:after
{
    color: #FFD700 !important;
}
.message1
{
    font-size:16px;
}
.thank-you article p, .thank-you-no-icon article p {
    font-size: 14px;
    line-height: 20px;
}
.thank-you
{
    width: 70%;
    text-align: center; 
    margin: auto;
}

article .fa, article .fa {
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 0;
    color: #2E5DC5;
    font-size: 66px;
}

#thank_section article article p, #thank_section article p {
    font-size: 14px;
    line-height: 20px;
}

#thank_section article, #thank_section article {
    position: relative;
    padding-left: 90px;
    text-align: left;
}
.error
{
    color:red;
    font-size:12px;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
<script>
    $(document).ready(function(){
        $("#thank_section").hide();
        $(".error-message-review").hide();
        rating_buyer = 0;
        $('#rating_buyer').barrating({ theme: 'fontawesome-stars',initialRating: '0',allowEmpty: false,emptyValue: '',deselectable: true,onSelect: function(value, text, event) {
            if (typeof(event) !== 'undefined') {
                rating_buyer = value;
            } 
        }});
        $(".error-message").hide();

        $('#textarea_buyer_desc').keyup(function() { 
            var thisChars = this.value.replace(/{.*}/g, '').length; 
            var maxlength = $(this).attr("maxlength");
            if(thisChars > maxlength) 
            {
               var CharsToDel = (thisChars-maxlength); 
               this.value = this.value.substring(0,this.value.length-CharsToDel); 
            }else{
               $(".buyer_desc_count").text( maxlength - thisChars + " /"+maxlength  +" max" ); 
            }
         });
        $("#form_buyer_review").submit(function(e)
        {
            e.preventDefault();
            if(rating_buyer != 0 )
            {
                $.ajax({
                    type:"GET",
                    url: "/post_buyer_review/",
                    data: {"order_no":'{{order_no}}',"b_review_txt":$("#textarea_buyer_desc").val(),"b_rating":rating_buyer},
                    success: function(data) 
                    {
                        jsonObject = JSON.parse(JSON.stringify({
                            "sucess": "sucess"
                        }))
                       if(jsonObject['sucess'] == "sucess")
                       {
                         $("#review_section").hide();
                         $("#thank_section").show();
                         $(".error-message-review").hide();
                       }
                    }
                });
            }
            else{
                $(".error-message-review").show();
            }
        });
    });
</script>
{% endblock %}