{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - Manage Orders</title>
<div class="all_page page-flex__content pt0 m0">
    <link rel="stylesheet" href="{% static 'assets/css/frontend/buyer_manage_orders.css' %}" type="text/css" />
    <div id="event_list" class="event-list js-event-list"></div>
    <div id="fox_notification_block"></div>
    <div class="row justify-content-center mt-0" id="manage_gigs">
       <div class="col-11 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mb-3"  id="manage_gigs_card">
             <div class="row">
                <div class="col-md-12 db-manage-gigs pl-5">
                    <h1 class="alt">Manage Orders</h1>
                 </div>
                <div class="col-md-12 mx-0 pl-5">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#activetab" role="tab" data-toggle="tab" class="active">Active <div class="circle"><span>{{active_orders|length}}</span></div></a></li>
                        <li><a href="#deliveredtab" role="tab" data-toggle="tab">Delivered<div class="circle"><span>{{delivered_orders|length}}</span></div></a></li>
                        <li><a href="#completedtab" role="tab" data-toggle="tab">Completed <div class="circle"><span>{{completed_orders|length}}</span></div></a></li>
                        <li><a href="#cancelledtab" role="tab" data-toggle="tab">Cancelled <div class="circle"><span>{{cancelled_orders|length}}</span></div></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activetab">
                            <div class="db-new-main-table">
                                <table>
                                   <thead>
                                      <tr class="header-filter">
                                         <td colspan="8">Active Orders</td>
                                      </tr>
                                      <tr>
                                         <td colspan="2"></td>
                                         <td>Order Date</td>
                                         <td>Due on</td>
                                         <td>Total</td>
                                         <td class="t-a-center" colspan="2">Status</td>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for ac_orders in active_orders %}

                                      <tr>
                                         <td class="gig-image-thumb"><img src="{{ac_orders.gig_image}}"></td>
                                         <td class="ellipsis-wrap">
                                            <div class="ellipsis"><a class="large-clickable-area" href="/gigs/{{ac_orders.gig_username}}/{{ac_orders.gig_title}}">{{ac_orders.gig_title}}</a></div>
                                         </td>
                                         <td class="date">{{ac_orders.order_date| date:"M d, Y"}}</td>
                                         <td class="date">{{ac_orders.order_due_date| date:"M d, Y"}}</td>
                                         <td class="amount t-a-left">${{ac_orders.order_amout}}</td>
                                         <td class="action-btn"><div class="order-status inprogress" ><a href="/user/{{request.user.username}}/manage_orders/{{ac_orders.order_id }}/activities" target="_blank" data>In Progress </a></div></td>
                                      </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                        </div>
                       
                        <div class="tab-pane" id="deliveredtab">
                            <div class="db-new-main-table">
                                <table>
                                   <thead>
                                      <tr class="header-filter">
                                         <td colspan="8">Delivered Orders</td>
                                      </tr>
                                      <tr>
                                         <td colspan="2"></td>
                                         <td>Order Date</td>
                                         <td>Due on</td>
                                         <td>Total</td>
                                         <td class="t-a-center" colspan="2">Status</td>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for ac_orders in delivered_orders %}
                                      <tr>
                                         <td class="gig-image-thumb"><img src="{{ac_orders.gig_image}}"></td>
                                         <td class="ellipsis-wrap">
                                            <div class="ellipsis"><a class="large-clickable-area" href="/gigs/{{ac_orders.gig_username}}/{{ac_orders.gig_title}}">{{ac_orders.gig_title}}</a></div>
                                         </td>
                                         <td class="date">{{ac_orders.order_date| date:"M d, Y"}}</td>
                                         <td class="date">{{ac_orders.order_due_date| date:"M d, Y"}}</td>
                                         <td class="amount t-a-left">${{ac_orders.order_amout}}</td>
                                         <td class="action-btn"><div class="order-status delivered" ><a href="/user/{{request.user.username}}/manage_orders/{{ac_orders.order_id }}/activities">Delivered</a></div></td>
                                      </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                        </div>
                        <div class="tab-pane" id="completedtab">
                            <div class="db-new-main-table">
                                <table>
                                   <thead>
                                      <tr class="header-filter">
                                         <td colspan="8">Completed Orders</td>
                                      </tr>
                                      <tr>
                                         <td colspan="2"></td>
                                         <td>Order Date</td>
                                         <td>Due on</td>
                                         <td>Total</td>
                                         <td class="t-a-center" colspan="2">Status</td>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for ac_orders in completed_orders %}
                                      <tr>
                                         <td class="gig-image-thumb"><img src="{{ac_orders.gig_image}}"></td>
                                         <td class="ellipsis-wrap">
                                            <div class="ellipsis"><a class="large-clickable-area" href="/user/{{request.user.username}}/manage_orders/{{ac_orders.order_id }}/activities" target="_blank">{{ac_orders.gig_title}}</a></div>
                                         </td>
                                         <td class="date">{{ac_orders.order_date| date:"M d, Y"}}</td>
                                         <td class="date">{{ac_orders.order_due_date| date:"M d, Y"}}</td>
                                         <td class="amount t-a-left">${{ac_orders.order_amout}}</td>
                                         <td class="action-btn"><a href="/gigs/{{ac_orders.gig_username}}/{{ac_orders.gig_title}}" target="_blank" class="btn-standard btn-green-grad" data-order-id="FO6214787D2C8">Order Again</a></td>
                                      </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                        </div>
                        <div class="tab-pane" id="cancelledtab">
                            <div class="db-new-main-table">
                                <table>
                                   <thead>
                                      <tr class="header-filter">
                                         <td colspan="8">Cancelled Orders</td>
                                      </tr>
                                      <tr>
                                         <td colspan="2"></td>
                                         <td>Order Date</td>
                                         <td>Due on</td>
                                         <td>Total</td>
                                         <td class="t-a-center" colspan="2">Status</td>
                                      </tr>
                                   </thead>
                                   <tbody>
                                    {% for ac_orders in cancelled_orders %}
                                      <tr>
                                         <td class="gig-image-thumb"><img src="{{ac_orders.gig_image}}"></td>
                                         <td class="ellipsis-wrap">
                                            <div class="ellipsis"><a class="large-clickable-area" href="/gigs/{{ac_orders.gig_username}}/{{ac_orders.gig_title}}">{{ac_orders.gig_title}}</a></div>
                                         </td>
                                         <td class="date">{{ac_orders.order_date| date:"M d, Y"}}</td>
                                         <td class="date">{{ac_orders.order_due_date| date:"M d, Y"}}</td>
                                         <td class="amount t-a-left">${{ac_orders.order_amout}}</td>
                                         <td class="action-btn"><div class="order-status cancelled" ><a href="/user/{{request.user.username}}/manage_orders/{{ac_orders.order_id }}/activities" target="_blank">Cancelled</a></div></td>
                                      </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                        </div>
                    </div>
                </div>    
             </div>
          </div>
       </div>
    </div>
 </div>
{% include  'Dashboard/base_buyer.html' %}
<style>
   .cancelled
   {
      background:orangered;
      border-color:orangered;
      padding: 2px;
      border-radius: 3px;
      width: 60%;
      font-weight: 500;
   }
</style>
{% endblock %}