{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - {{request.user.username}} / Revenues</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/earnings.css' %}" type="text/css" />
<div class="all_page page-flex__content pt0 m0">
   <div id="event_list" class="event-list js-event-list"></div>
   <input type="hidden" id="custId" value="{{order_details}}">
   <input type="hidden" id="custId1" value="{{user_details.current_earning}}">
   <div id="fox_notification_block"></div>
   <div class="row justify-content-center mt-0" id="manage_earning">
      <article class="db-new-content js-db-cont">
         <header class="db-new-header">
            <h1 class="alt">
               Earnings
               <span class="money-expected">
               Expected earnings: <b class="js-active-orders">${{earning_val}}</b>
               </span>
            </h1>
         </header>
         <div class="db-stats-standard cf js-db-stats ">
            <span><small>Net Income</small>${{user_details.total_earning}}</span>
            <a><small>Withdrawn</small>${{user_details.withdrawn_amount}}</a>
            <a><small>Used for Purchases</small>${{user_details.with_credits_used_amount}}</a>
            <a><small>Affiliate Earnings</small>${{user_details.referrals_earnings}}</a>
            <a><small>Pending Clearance</small>${{user_details.current_earning}}</a>
            <span><small>Available for Withdrawal</small>${{user_details.avail_bal}}</span>
         </div>
         <div class="revenues-actions cf">
            <label>SHOW</label>
            <div class="dd-wrap js-ddown-transactions">
               <div class="filter-select cf ">
                  <div class="fake-dropdown" style="visibility: visible;">
                     <a class="dropdown-toggle max-width" data-toggle="dropdown" data-max-width="137" data-min-width="137" id="selected_value" style="width: 137px;">EVERYTHING</a>
                     <ul class="dropdown-menu  " role="menu" style="top: -2px; width: 180px;">
                        <li>
                           <a data-type="transactions" data-val="all" onclick="transaction_click('all_t','EVERYTHING');">
                           <span class="text-inner">EVERYTHING</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="transactions" data-val="withdrawn" onclick="transaction_click('withdrawal','WITHDRAWN');">
                           <span class="text-inner">WITHDRAWN</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="transactions" data-val="pending_clearance" onclick="transaction_click('pending','PENDING CLEARANCE');">
                           <span class="text-inner">PENDING CLEARANCE</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="transactions" data-val="cancelled_revenues" onclick="transaction_click('e_cancel','CANCELLED REVENUES');">
                           <span class="text-inner">CANCELLED REVENUES</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="transactions" data-val="cancelled_revenues" onclick="transaction_click('tip','TIP REVENUES');">
                           <span class="text-inner">TIP REVENUES</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="transactions" data-val="cancelled_revenues" onclick="transaction_click('affiliate','AFFILIATE REVENUES');">
                           <span class="text-inner"> AFFILIATE REVENUES</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="transactions" data-val="cancelled_revenues" onclick="transaction_click('used_credit','USED FOR PURCHASES');">
                           <span class="text-inner"> USED FOR PURCHASES</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="dd-wrap js-ddown-years">
               <div class="filter-select cf ">
                  <div class="fake-dropdown" style="visibility: visible;">
                     <a class="dropdown-toggle max-width" data-toggle="dropdown" data-max-width="32" data-min-width="32" id="select_year" style="width: 32px;">2022</a>
                     <ul class="dropdown-menu  " role="menu" style="top: -2px; width: 72px;">
                        {% for year in number_of_years %}
                           <li>
                              <a data-type="years" data-val="{{year.year}}" onclick="year_click('{{year.year}}');">
                                 <span class="text-inner">{{year.year}}</span>
                              </a>
                           </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
            </div>
            <div class="dd-wrap js-ddown-months">
               <div class="filter-select cf ">
                  <div class="fake-dropdown" style="visibility: visible;">
                     <a class="dropdown-toggle max-width" data-toggle="dropdown" data-max-width="77" data-min-width="77" id="select_month" style="width: 77px;">All months</a>
                     <ul class="dropdown-menu  " role="menu" style="top: -2px; width: 120px;">
                        <li>
                           <a data-type="months" data-val="13" onclick="month_click('all','All months');">
                           <span class="text-inner">All months</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="1" onclick="month_click('1','January');">
                           <span class="text-inner">January</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="2" onclick="month_click('2','February');">
                           <span class="text-inner">February</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="3" onclick="month_click('3','March');">
                           <span class="text-inner">March</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="4" onclick="month_click('4','April');">
                           <span class="text-inner">April</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="5" onclick="month_click('5','May');">
                           <span class="text-inner">May</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="6" onclick="month_click('6','June');">
                           <span class="text-inner">June</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="7" onclick="month_click('7','July');">
                           <span class="text-inner">July</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="8" onclick="month_click('8','August');">
                           <span class="text-inner">August</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="9" onclick="month_click('9','September');">
                           <span class="text-inner">September</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="10" onclick="month_click('10','October');">
                           <span class="text-inner">October</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="11" onclick="month_click('11','November');">
                           <span class="text-inner">November</span>
                           </a>
                        </li>
                        <li>
                           <a data-type="months" data-val="12" onclick="month_click('12','December');">
                           <span class="text-inner">December</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="withdrawal_button">
               {% if mini_withdrawal < avail_withdrawal %}
                  {% if already_initiated == "no" %}
                     <a  class="withdrawal_btn" id="withdrawal_btn" onclick="withdrawal_click();"><i class="fa fa-paypal" aria-hidden="true"></i> Withdraw Now</a>
                  {% else %}
                     <a  class="withdrawal_btn" id="withdrawal_btn" onclick="withdrawal_click();" disabled="yes" title = "You already initiated an withdrawal request."><i class="fa fa-paypal" aria-hidden="true"></i> Withdraw Now</a>
                  {% endif %}
               {% endif %}
               <a  class="csv-export js-revenues-csv-export" id="export_csv">Export to CSV</a>
            </div>
           

         </div>
         <div class="db-new-main-table js-db-table">
            <table id="reports_table">
               <thead>
                  <tr>
                     <td>DATE</td>
                     <td>ORDER NO.</td>
                     <td>FOR</td>
                     <td class="t-a-right">AMOUNT</td>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </article>
   </div>
</div>



{% include  'Dashboard/base_seller.html' %}
<script src="{% static 'assets/js/csvExport.js' %}"></script>

<div class="modal" id="modal_withdrawal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
           <h1></h1>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class="modal-body">
         <div class="row tab1" id="publish_social_div">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
               <div class="">
                  <div class="share-text">
                   <h2 class="sharing-title">Withdrawal Confirmation</h2>
                   <div class="sharing-description"><p>Are you sure you want to withdraw your earnings?</p></div>
                  </div>                
               </div>
            </div>
            <div class="col-lg-1">   
         </div>
       </div>
       <div class="row tab1" >
         <div class="col-lg-6">
         </div>
         <div class="col-lg-6">
            <div class="buttons-containers flex-end">
               <button class="ORLWF8p _7pUBXz- co-green-700 YxOH7gm bg-co-white" id="btn_cancel" data-dismiss="modal" aria-label="Close">Cancel</button>
               <button class="ORLWF8p _0MkXbqi co-white bg-co-green-700" id="btn_confirm_submit" onclick="initiate_withdrawal();">Confirm</button></div>   
      </div>
     </div>
   </div>
 </div>
</div>

<style>
   #withdrawal_btn:disabled{
      cursor: not-allowed;
      cursor: -moz-not-allowed;
      cursor: -webkit-not-allowed;
   }
   .affiliate,.tip{
      color:#2E5DC5;
   }
   .used_credit,.credit,.withdrawal{
      color:green;
   }
   .pending
   {
      color:#555;
   }
   .e_cancel
   {
      color:orangered;;
   }

</style>
<script>
   $(document).ready(function(){
      $( "#export_csv" ).click(function() {
         $('#reports_table').csvExport();
      });
      refresh_table("all_t","transactions");
   });

   function formatDate(date) {
      var monthNames =  ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var _date = date.getDate();
      var month = date.getMonth();
      var year = date.getFullYear();
      var d = new Date();
      var curr_year = d.getFullYear();    
      var ampm = hours >= 12 ? 'pm' : 'am';
      hours = hours % 12;
      hours = hours ? hours : 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? '0'+minutes : minutes;
      var strTime = '';
      strTime =  monthNames[month] + " " + _date+ ", " + year ;  
      return strTime;
    }
   function refresh_table(parameter,type)
   {
      $.ajax({
         type:"GET",
         url: "/post_earning_details/",
         data: {'username':'{{request.user.username}}' ,"parameter":parameter ,"param_type":type},
         success: function(data)
         {
            $("#reports_table tbody").empty();
            $.each(data, function(i, v) {
               clearence_txt = '';
               if(v.a_clear_date != '')
               {
                  clearence_txt = '<span tooltip="Clearence Date"> ( '+v.a_clear_date+') </span>';
               }
               $("#reports_table tbody").append(' <tr class="hidden-action-link"> <td class="date "> <span>'+formatDate(new Date(v.a_date)) +'</span> </td> <td class="amount"> <span class="order_no"> <span>#'+v.a_order_no+'</span> <a href="/user/{{request.user.username}}/manage_orders/'+v.a_order_no+'/activities" target="_blank">(view order)</a> </span> </td><td class="ellipsis-wrap "> <div class="ellipsis"> <span>'+ v.a_message + clearence_txt + '</span> </div> </td> <td class="amount"> <span class="'+v.a_type+'"> <span>$'+v.a_amount+'</span> </span> </td> </tr>');
            });
         }
      });
   }

   function month_click(ev,value)
   {
      $("#select_month").text(value);
      refresh_table(ev,'month');
   }
   function transaction_click(ev,value)
   {
      $("#selected_value").text(value);
      refresh_table(ev,'transactions');
   }
   function year_click(ev)
   {
      $("#select_year").text(ev);
      refresh_table(ev,'year');
   }
   function withdrawal_click(ev)
   {
      $("#modal_withdrawal").modal('show');
   }


   function initiate_withdrawal()
   {
      $("#withdrawal_btn").attr("disabled",true);
      $.ajax({
         type:"GET",
         url: "/post_initiate_withdrawl/",
         data: {'username': '{{request.user.username}}',"available_balance":'{{avail_withdrawal}}',"initiation_type":"earnings","pay_id":'{{user_details.pay_pal_mail_id}}'},
         success: function(data)
         {  
            $("#modal_withdrawal").modal('hide');
            $("#withdrawal_btn").attr("disabled",false);
            location.reload();
         }
      });
   }
</script>
{% endblock %}