{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - {{request.user.username}} / Resolution Center</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/resolution.css' %}" type="text/css" />
<div class="all_page page-flex__content pt0 m0">
    <input type="hidden" id="current_user_hidd" name="current_user_hidd" value="{{current_user}}">
   <div id="event_list" class="event-list js-event-list"></div>
   <div id="fox_notification_block"></div>
   <div class="row justify-content-center mt-0" id="manage_gigs">
      <div class="col-9 text-center p-0 mt-3 mb-2">
         <div id="create_form">
            <!-- progressbar -->
            <ul id="progressbar">
               <li class="active" id="action">
                  <div class="circle"><span>1</span></div>
                  <strong class="span_txt">Select Action</strong><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
               </li>
               <li id="details">
                  <div class="circle"><span>2</span></div>
                  <strong class="span_txt">Add Details & Submit</strong>
               </li>
            </ul>
            <fieldset id="action_res">
                <div class="row tab1" >
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10 pt-4"> 
                        <div class="content">
                            <h1>Welcome to the Resolution Center</h1>
                            <h2>Here’s where buyers and sellers contact each other to resolve order issues.</h2>
                            <h3>What would you like to do?</h3>
                            <ul class="radio-form">
                               <li>
                                 <label>
                                    <input type="radio"  onclick="resolution_cat(this);" name="solution_id" value="1" id="solution1">
                                    <label  for="solution1">Extend the delivery time</label>
                                  </label>
                               </li>
                               <li>
                                 <label>
                                    <input type="radio"  onclick="resolution_cat(this);" name="solution_id" value="2" id="solution2">
                                    {% if current_user == 'Buyer' %}
                                        <label for="solution2">Ask the seller to cancel this order</label>
                                    {% else %}
                                        <label for="solution2">Ask the buyer to cancel this order</label>
                                    {% endif %}
                                </label>
                               </li>
                            </ul>
                            <div class="m-t-30" id="solution2_div">
                               <h3>Your feedback will help us improve</h3>
                               <ul class="radio-form" id="solution2_lists">

                               </ul>
                               <div class="errors m-t-16 co-red-700 text-body-2 flex flex-col" id="message_errors">This field is required.</div>
                            </div>
                         </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                 </div>

               <div class="row tab7" >
                  <div class="col-lg-1">
                  </div>
                  <div class="col-lg-3 left_pan pt-4"> 
                  </div>
                  <div class="col-lg-7 right_pan pt-4">
                     <div class="sub-actions js-next-back">
                        <section class="btns mb-2">
                           <button class="next fit-button fit-button-color-green fit-button-fill-full fit-button-size-large co-white btn-submit js-gig-upcrate-submit bg-co-green-700" data-label="action_res" data-next="details_res" id="btn_actions" type="button">Continue</button>
                        </section>
                     </div>
                  </div>
                  <div class="col-lg-1">
                  </div>
               </div>
            </fieldset>
            <fieldset id="details_res">
                <div class="row tab1" >
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10 pt-4">
                        <div class="extras-form" id="cancellation_form">
                            <h1>Request Cancellation</h1>
                            <h2>You can ask the buyer to cancel this order.</h2>                            
                            <div class="m-t-40">
                               <div class="message-box">
                                  <label for="message">
                                    Explain to the buyer why you would like to cancel this order
                                  </label>
                                  <textarea name="message" id="can_text_char" placeholder="Type your message here..." maxlength="{{resolution_char}}" onkeyup="can_text_char_onkeyup(this);"  onpaste="can_text_char_onkeyup(this);"></textarea>
                                  <span class="chars-counter" id="span_can_text_char">
                                    0/{{resolution_char}} Characters
                                  </span>
                               </div>
                            </div>
                        </div>
                        <div class="extras-form" id="extension_form">
                            <div class="delivery-form">
                                <h1>Extend Delivery Time</h1>
                                {% if current_user ==  "Buyer" %}
                                    <h2>You can ask {{seller_gig_details.0.gig_username}} to extend the delivery time of this order.</h2>
                                {% else %}
                                    <h2>You can ask {{seller_gig_details.0.order_by_username}} to extend the delivery time of this order.</h2>
                                {% endif %}
                                
                                <div class="select-box">
                                   <label for="delivery">Select the number of days you would like to add to your delivery time</label>
                                   <select name="delivery" id="delivery">
                                      <option value="0">Select</option>
                                      {% for e_days in extra_days %}
                                            <option value="{{e_days.parameter_value}}">{{e_days.parameter_value}} days</option>
                                      {% endfor %}
                                   </select>
                                   <span class="delivered_by">The order should be delivered by <b> {{ seller_gig_details.0.due_date|date:"M d, y" }} </b></span>
                                </div>
                                <div class="message-box">
                                   <label for="message">
                                      Explain why you would like to extend your delivery time
                                   </label>
                                   <textarea name="message" id="ext_text_char" placeholder="Type your message here..." maxlength="{{resolution_char}}" onkeyup="ext_text_char_onkeyup(this);" onpaste="ext_text_char_onkeyup(this);"  ></textarea>
                                   <span class="chars-counter" id="span_ext_text_char">
                                     0/{{resolution_char}} Characters
                                   </span>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                 </div>

                 <div class="row tab7" >
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-8">
                        <div class="error-message">
                            <label class="error"> Please describe your delivery message.</label>
                         </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                 </div>
               <div class="row tab7" >
                  <div class="col-lg-1">
                  </div>
                  <div class="col-lg-3 left_pan pt-4"> 
                  </div>
                  <div class="col-lg-7 right_pan pt-4">
                     <div class="sub-actions js-next-back">
                        <section class="btns mb-2">
                           <button class="next fit-button fit-button-color-green fit-button-fill-full fit-button-size-large co-white btn-submit js-gig-upcrate-submit bg-co-green-700" id="submit_request" data-label="details_res" data-next="last" type="button">Send Request</button>
                        </section>
                        <button type="button" class="previous naked-button back co-green" data-label="details_res" data-previous="action_res">back</button>
                     </div>
                  </div>
                  <div class="col-lg-1">
                  </div>
               </div>
            </fieldset>
         </div>
      </div>
      <div class="col-3 text-center p-0 mt-3 mb-2">
        <div class="order-box">
            <div class="info-wrap">
               <img src="{{seller_gig_details.0.gig_image}}">
               <div class="info">
                  <h5>
                    I will {{seller_gig_details.0.gig_title}}
                  </h5>
                  <ul class="extras">
                    {% for extra in seller_gig_details.0.offer_extra %}
                        {% if extra.value != 'true' %}
                            <li>
                                <i class="fa fa-check"></i> {{extra.value}} - {{extra.name|title}}
                            </li>
                        {% else %}
                            <li>
                                <i class="fa fa-check"></i>{{extra.name|title}}
                            </li>
                        {% endif %}
                        
                    {% endfor %}
                  </ul>
                  <ul class="general">
                     {% if seller_gig_details.0.order_status == 'late' %}
                        <li><span>Status</span><span class="status-bar in_late">{{seller_gig_details.0.order_status}}</span></li>
                     {% else %}
                        <li><span>Status</span><span class="status-bar in_progress">{{seller_gig_details.0.order_status}}</span></li>
                     {% endif %}
                        <li><span>Order</span><span>#{{seller_gig_details.0.order_no}}</span></li>
                     <li><span>Order Date</span><span> {{ seller_gig_details.0.order_date|date:"M d, y" }}  </span></li>
                     <li><span>Quantity</span><span>X 1</span></li>
                     <li><span>Price</span><span>$ {{seller_gig_details.0.order_amount}}</span></li>
                  </ul>
               </div>
            </div>
         </div>
       </div>
   </div>
</div>
{% include  'Dashboard/base_seller.html' %}
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<style>
    #submit_request:disabled{
        cursor: not-allowed;
        cursor: -moz-not-allowed;
        cursor: -webkit-not-allowed;
    }
</style>
<script>
   function extractContent(html) {
      return new DOMParser()
          .parseFromString(html, "text/html")
          .documentElement.textContent;
  }
   $(document).ready(function(){
      $("#solution2_div").hide();
      $("#custom_answer").hide();
      $("#btn_actions").prop("disabled",true);
     $("#description_gig").summernote({
       placeholder: "Write your content here",
       height: 200,
       toolbar: [
           [ 'style', [ 'style' ] ],
           [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
           [ 'fontname', [ 'fontname' ] ],
           [ 'fontsize', [ 'fontsize' ] ],
           [ 'color', [ 'color' ] ],
           [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
           [ 'table', [ 'table' ] ],
           [ 'insert', [ 'link'] ],
           [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
       ]
     });
     $(".previous").click(function(){
        current_fs = $(this).attr("data-label");
        previous_fs =  $(this).attr("data-previous"); 
        $("#progressbar li").eq($("#"+previous_fs).index()-1).addClass("active");
        $("#progressbar li").eq($("#"+current_fs).index()-1).removeClass("active")
           $("#" + previous_fs).show();
           $("#" + current_fs).animate({opacity: 0}, {
              step: function(now) {
                  opacity = 1 - now;
                  $("#" + current_fs).css({
                      'display': 'none',
                      'position': 'relative'
                  });
                  $("#" + previous_fs).css({'opacity': opacity});
           }, 
          duration: 600
        });
     });
       $(".next").click(function(){
           current_fs = $(this).attr("data-label");
           next_fs =  $(this).attr("data-next"); 
           if(next_fs != "last")
           {
                res_message = $('input[name="solution_txt"]:checked').next().text();
                if(res_message == "Other")
                {
                    if($("#custom_answer").val().trim().length != 0)
                    {
                        $("#message_errors").hide();
                        $(".error-message").hide();
                        $("#progressbar li").eq($("#"+next_fs).index() -1).addClass("active");
                        $("#progressbar li").eq($("#"+current_fs).index() -1).removeClass("active")
                        $("#"+next_fs).show(); 
                        $("#"+current_fs).animate({opacity: 0}, {
                        step: function(now) {
                          opacity = 1 - now;
                          $("#"+current_fs).css({
                              'display': 'none',
                              'position': 'relative'
                          });
                          $("#"+next_fs).css({'opacity': opacity});
                        }, 
                        duration: 600
                        });    
                    }
                    else{
                        $("#message_errors").show();
                    }
                }
                else{
                    $(".error-message").hide();
                    $("#progressbar li").eq($("#"+next_fs).index() -1).addClass("active");
                    $("#progressbar li").eq($("#"+current_fs).index() -1).removeClass("active")
                    $("#"+next_fs).show(); 
                    $("#"+current_fs).animate({opacity: 0}, {
                    step: function(now) {
                      opacity = 1 - now;
                      $("#"+current_fs).css({
                          'display': 'none',
                          'position': 'relative'
                      });
                      $("#"+next_fs).css({'opacity': opacity});
                    }, 
                    duration: 600
                });
      
            }
        }
        else{
            res_type = '';
            res_desc = '';
            res_days = '';
            res_text = '';
            res_message = '';
            checked_val = $('input[name="solution_id"]:checked').val();
            valid_message = false;
            if(parseInt(checked_val) == 1)
            {
                res_type = "extention";
                res_desc = $("#ext_text_char").val();
                res_days = $("#delivery").val();
                res_text = $('input[name="solution_id"]:checked').next().text();
                res_message = $('input[name="solution_txt"]:checked').next().text();
                if(res_message == "Other")
                {
                    res_message = $("#custom_answer").val();
                }
                else{
                    res_message = $('input[name="solution_txt"]:checked').next().text();
                }
                if(res_desc.trim().length == 0 || res_days.trim().length == 0 )
                {
                    $(".error-message").show();
                    valid_message = false;
                }
                else{
                    $(".error-message").hide();
                    valid_message = true;
                }
            }
            else if(parseInt(checked_val)  == 2)
            {
                res_type = "cancel";
                res_desc = $("#can_text_char").val();
                res_days = 0;
                res_text = $('input[name="solution_id"]:checked').next().text();
                res_message = $('input[name="solution_txt"]:checked').next().text();
                if(res_message == "Other")
                {
                    res_message = $("#custom_answer").val();
                }
                else{
                    res_message = $('input[name="solution_txt"]:checked').next().text();
                }
                if(res_desc.trim().length == 0 )
                {
                    $(".error-message").show();
                    valid_message = false;
                }
                else{
                    $(".error-message").hide();
                    valid_message = true;
                }
                prev_date = '';
            }
            if(valid_message == true)
            {
                $("#submit_request").prop("disabled",true);
                $.ajax({
                    type:"POST",
                    url: "/post_resolutions/",
                    data: {"res_type":res_type,"res_text":res_text,"res_message":res_message,"res_desc":res_desc,"res_days":res_days,"raised_by":'{{request.user.username}}',"order_no":'{{seller_gig_details.0.order_no}}'},
                    success: function(data) 
                    {
                        $("#submit_request").prop("disabled",false);
                        location_href =  $(location).attr('href').split("/");
                        window.location = location_href[0]+"//"+location_href[2] + '/user/{{request.user.username}}/manage_orders/{{seller_gig_details.0.order_no}}/activities';
                    }
                }); 
            } 
            
        }
   });
   
   $('.help_text_span').hover(function (e) {
     $(this).parent().find(".helptext_desc").css({
           left: e.offsetX + 10,
           top: e.offsetY + 10
     }).toggle();
   });
   });

   function resolution_cat(ev)
   {
      seller_lists_extention = ["We couldn't agree on the price","I didn't receive enough information from the buyer","Due to personal/technical reasons, I cannot complete the work","The buyer requested additional work, which wasn't in the scope of the original order","Other"]
      seller_lists_cancel = ["The buyer is not responding","The buyer will order again","I’m too busy for this job","We couldn't agree on the price","I'm not able to do this job","I didn't receive enough information from the buyer","Due to personal/technical reasons, I cannot complete the work","The buyer requested additional work, which wasn't in the scope of the original order","Other"]
      buyer_lists_extention = ["The seller is not responding","The quality of the work I received was poor","I didn't receive what I ordered","The seller can't deliver on time","Other"]
      buyer_lists_cancel  = ["The seller is not qualified to do the work I requested","The seller is not responding","The seller can't do this job","The quality of the work I received was poor","I didn't receive what I ordered","The seller can't deliver on time","Other"]
      $("#solution2_lists").empty();
      if(ev.value == 1)
      {
        $("#extension_form").show();
        $("#cancellation_form").hide();
        if($("#current_user_hidd").val() == "Buyer")
        {
            $.each(buyer_lists_extention, function(i, v) {
                if(v != "Other")
                {
                    $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li>');
                }
                else{
                    $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li><input type="text" name="custom_answer" id="custom_answer" class="m-t-15 other-answer large" maxlength="100" value="" placeholder="Please explain the issue you are having">');
                }
            });
        }
        else{
            $.each(seller_lists_extention, function(i, v) {
                if(v != "Other")
                {
                    $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li>');
                }
                else{
                    $("#solution2_lists").append(' <li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li><input type="text" name="custom_answer" id="custom_answer" class="m-t-15 other-answer large" maxlength="100" value="" placeholder="Please explain the issue you are having">');
                }
            });
        }
      }
      else if(ev.value == 2)
      {
        $("#extension_form").hide();
        $("#cancellation_form").show();
         if($("#current_user_hidd").val() == "Buyer")
            {
                $.each(buyer_lists_cancel, function(i, v) {
                    if(v != "Other")
                    {
                        $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li>');
                    }
                    else{
                        $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label><input type="text" name="custom_answer" id="custom_answer" class="m-t-15 other-answer large" maxlength="100" value="" placeholder="Please explain the issue you are having">');
                    }  
                });
            }
            else{
                $.each(seller_lists_cancel, function(i, v) {
                    if(v != "Other")
                    {
                        $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li>');
                    }
                    else{
                        $("#solution2_lists").append('<li><label class="radio-text"><input type="radio" onclick="solution2_onclick(this);" name="solution_txt" value="'+(i+1)+'" id="sol_txt'+(i+1)+'"><label  for="sol_txt'+(i+1)+'">'+v+'</label></label></li><input type="text" name="custom_answer" id="custom_answer" class="m-t-15 other-answer large" maxlength="100" value="" placeholder="Please explain the issue you are having">');
                    }
                });
            }
      }
      $("#message_errors").hide();
      $("#custom_answer").hide();
      $("#btn_actions").prop("disabled",true);
      $("#solution2_div").show();
   }
   function solution2_onclick(ev)
   {
        $("#message_errors").hide();
        if($(ev).next().text() == "Other")
        {
            $("#custom_answer").show();
        }
        else{
            $("#custom_answer").hide();
        }
        $("#btn_actions").prop("disabled",false);
   }
   function openTab(evt) {
   cityName= $(evt).attr("data-label");
   var tab_height =0;
   $(".tab").find('button').each(function() {
       tab_height += parseInt($(this).height()) + tab_height ;
   });
   tab_height = tab_height+ 50;
   var i, tabcontent, tablinks;
   tabcontent = document.getElementsByClassName("tabcontent");
   for (i = 0; i < tabcontent.length; i++) {
       tabcontent[i].style.display = "none";
   }
   tablinks = document.getElementsByClassName("tablinks");
   for (i = 0; i < tablinks.length; i++) {
       tablinks[i].className = tablinks[i].className.replace(" active", "");
   }
   document.getElementById(cityName).style.display = "block";
   $(evt).addClass("active");
   if(parseInt($("#" + cityName).height()) < parseInt(tab_height))
   {
       $("#" + cityName).css("border-left","none");
       $("#" + cityName).css("height",parseInt(tab_height) + "px");
       $(".tab").css("height",parseInt(tab_height) + "px");
   }
   else{
       $("#" + cityName).css("border-left","1px solid #ccc");
       $(".tab").css("height",parseInt(tab_height) + "px");
       $(".tab").css("height",parseInt($("#" + cityName).height()) + "px");
   }
   }

   function can_text_char_onkeyup(ev)
   {
    setTimeout(function() {
      var thisChars = ev.value.replace(/{.*}/g, '').length; 
         var maxlength = $(ev).attr("maxlength");
         if(thisChars > maxlength) 
         {
            var CharsToDel = (thisChars-maxlength); 
            this.value = this.value.substring(0,this.value.length-CharsToDel); 
         }else{
            $("#span_can_text_char").text( maxlength - thisChars + " /"+maxlength  +" max" ); 
         }
    }, 500);
   }  
   
   function ext_text_char_onkeyup(ev)
   {
    setTimeout(function() {
      var thisChars = ev.value.replace(/{.*}/g, '').length; 
         var maxlength = $(ev).attr("maxlength");
         if(thisChars > maxlength) 
         {
            var CharsToDel = (thisChars-maxlength); 
            this.value = this.value.substring(0,this.value.length-CharsToDel); 
         }else{
            $("#span_ext_text_char").text( maxlength - thisChars + " /"+maxlength  +" max" ); 
         }
    }, 500);
   }   
 
</script>
{% endblock %}