{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - Manage Orders</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/seller_manage_orders.css' %}" type="text/css" />
<div class="all_page page-flex__content pt0 m0">
    <div id="event_list" class="event-list js-event-list"></div>
    <div id="fox_notification_block"></div>
    <div class="row justify-content-center mt-0" id="manage_gigs">
       <div class="col-11 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mb-3"  id="manage_gigs_card">
             <div class="row">
                <div class="col-md-12 db-manage-gigs ">
                    <h1 class="alt pl-3">Manage Orders</h1>
                </div>
                <div class="col-md-12 mx-0">
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#activetab" role="tab" data-toggle="tab" class="active">Active <div class="circle"><span>{{active_orders|length}}</span></div></a></li>
                        <li><a href="#deliveredtab" role="tab" data-toggle="tab">Delivered <div class="circle"><span>{{delivered_orders|length}}</span></div></a></li>
                        <li><a href="#completedtab" role="tab" data-toggle="tab">Completed <div class="circle"><span>{{completed_orders|length}}</span></div></a></li>
                        <li><a href="#cancelledtab" role="tab" data-toggle="tab">Cancelled <div class="circle"><span>{{cancelled_orders|length}}</span></div></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activetab">
                            <div class="row">
                                <div class="col-md-12 db-manage-gigs ">
                                    <h6 class="alt">ACTIVE ORDERS</h6>
                                </div>
                            </div>  
                            <div class="row header_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <h5 class="header_span">Buyer</h5>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <h5 class="header_span">Gig</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Due On</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Total</h5>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <h5 class="header_span">Status</h5>
                                </div>
                            </div>

                            {% for ac_order in active_orders %}
                            <div class="row text_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <div class="order-buyer"><div class="avatar"><figure class="fit-avatar-figure fit-avatar-circle-shape" style="font-size: 40px;"><figcaption class=""></figcaption><span class="fit-avatar-image" style="background-image: url('{{ac_order.buyer_img}}');"></span></figure>
                                    </div>
                                    <div class="username"><a href="/user/profile/{{ac_order.buyer_username}}">{{ac_order.buyer_username | title}}</a></div></div>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <div class="order-gig-title"><div class="gig-name"><a href="/gigs/{{ac_order.seller_username}}/{{ac_order.gig_title}}">{{ac_order.gig_title | title}}</a></div></div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell due-on">{{ac_order.due_date | date:"M d" }} </div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell total">${{ac_order.order_price }}</div>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <div class="tbl-cell status"><a href="/user/{{request.user.username}}/manage_orders/{{ac_order.order_id }}/activities"><div class="order-status" style="background: rgb(88, 74, 255); border-color: rgb(88, 74, 255);">In Progress </a></div></div>
                                </div>
                            </div> 
                            {% for o_act in ac_order.order_activity %}
                                <div class="row text_row activity_row">
                                    <div class="col-md-3 db-manage-gigs ">
                                    </div>
                                    <div class="col-md-5 db-manage-gigs ">
                                        <div class="order-gig-title"><div class="gig-name">{{o_act.order_message}}</div></div>
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                   
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                        {% if o_act.order_amount == 0 %}
                                            <div class="tbl-cell total"></div>
                                        {% else %}
                                            <div class="tbl-cell total">${{o_act.order_amount}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 db-manage-gigs ">
                                    
                                    </div>
                                </div>   
                            {% endfor %}
                                                   
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="deliveredtab">
                            <div class="row">
                                <div class="col-md-12 db-manage-gigs ">
                                    <h6 class="alt">DELIVERED ORDERS</h6>
                                </div>
                            </div>  
                            <div class="row header_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <h5 class="header_span">Buyer</h5>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <h5 class="header_span">Gig</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Due On</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Total</h5>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <h5 class="header_span">Status</h5>
                                </div>
                            </div>

                            {% for ac_order in delivered_orders %}
                            <div class="row text_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <div class="order-buyer"><div class="avatar"><figure class="fit-avatar-figure fit-avatar-circle-shape" style="font-size: 40px;"><figcaption class=""></figcaption><span class="fit-avatar-image" style="background-image: url('{{ac_order.buyer_img}}');"></span></figure>
                                    </div>
                                    <div class="username"><a href="/user/profile/{{ac_order.buyer_username}}">{{ac_order.buyer_username | title}}</a></div></div>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <div class="order-gig-title"><div class="gig-name"><a href="/gigs/{{ac_order.seller_username}}/{{ac_order.gig_title}}">{{ac_order.gig_title | title}}</a></div></div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell due-on">{{ac_order.due_date | date:"M d" }} </div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell total">${{ac_order.order_price }}</div>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <div class="tbl-cell status"><a href="/user/{{request.user.username}}/manage_orders/{{ac_order.order_id }}/activities"><div class="order-status" style="background: rgb(88, 74, 255); border-color: rgb(88, 74, 255);">Delivered</a></div></div>
                                </div>
                            </div> 
                            {% for o_act in ac_order.order_activity %}
                                <div class="row text_row activity_row">
                                    <div class="col-md-3 db-manage-gigs ">
                                    </div>
                                    <div class="col-md-5 db-manage-gigs ">
                                        <div class="order-gig-title"><div class="gig-name">{{o_act.order_message}}</div></div>
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                   
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                        {% if o_act.order_amount == 0 %}
                                            <div class="tbl-cell total"></div>
                                        {% else %}
                                            <div class="tbl-cell total">${{o_act.order_amount}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 db-manage-gigs ">
                                    
                                    </div>
                                </div>   
                            {% endfor %}                         
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="completedtab">
                            <div class="row">
                                <div class="col-md-12 db-manage-gigs ">
                                    <h6 class="alt">COMPLETED ORDERS</h6>
                                </div>
                            </div>  
                            <div class="row header_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <h5 class="header_span">Buyer</h5>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <h5 class="header_span">Gig</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Due On</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Total</h5>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <h5 class="header_span">Status</h5>
                                </div>
                            </div>

                            {% for ac_order in completed_orders %}
                            <div class="row text_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <div class="order-buyer"><div class="avatar"><figure class="fit-avatar-figure fit-avatar-circle-shape" style="font-size: 40px;"><figcaption class=""></figcaption><span class="fit-avatar-image" style="background-image: url('{{ac_order.buyer_img}}');"></span></figure>
                                    </div>
                                    <div class="username"><a href="/user/profile/{{ac_order.buyer_username}}">{{ac_order.buyer_username | title}}</a></div></div>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <div class="order-gig-title"><div class="gig-name"><a href="/gigs/{{ac_order.seller_username}}/{{ac_order.gig_title}}">{{ac_order.gig_title | title}}</a></div></div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell due-on">{{ac_order.due_date | date:"M d" }} </div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell total">${{ac_order.order_price }}</div>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <div class="tbl-cell status"><a href="/user/{{request.user.username}}/manage_orders/{{ac_order.order_id }}/activities"><div class="order-status" style="background: rgb(88, 74, 255); border-color: rgb(88, 74, 255);">Completed</a></div></div>
                                </div>
                            </div> 
                            {% for o_act in ac_order.order_activity %}
                                <div class="row text_row activity_row">
                                    <div class="col-md-3 db-manage-gigs ">
                                    </div>
                                    <div class="col-md-5 db-manage-gigs ">
                                        <div class="order-gig-title"><div class="gig-name">{{o_act.order_message}}</div></div>
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                   
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                        {% if o_act.order_amount == 0 %}
                                            <div class="tbl-cell total"></div>
                                        {% else %}
                                            <div class="tbl-cell total">${{o_act.order_amount}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 db-manage-gigs ">
                                    
                                    </div>
                                </div>   
                            {% endfor %}                         
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="cancelledtab">
                            <div class="row">
                                <div class="col-md-12 db-manage-gigs ">
                                    <h6 class="alt">CANCELLED ORDERS</h6>
                                </div>
                            </div>  
                            <div class="row header_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <h5 class="header_span">Buyer</h5>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <h5 class="header_span">Gig</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Due On</h5>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <h5 class="header_span">Total</h5>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <h5 class="header_span">Status</h5>
                                </div>
                            </div>

                            {% for ac_order in cancelled_orders %}
                            <div class="row text_row">
                                <div class="col-md-3 db-manage-gigs ">
                                    <div class="order-buyer"><div class="avatar"><figure class="fit-avatar-figure fit-avatar-circle-shape" style="font-size: 40px;"><figcaption class=""></figcaption><span class="fit-avatar-image" style="background-image: url('{{ac_order.buyer_img}}');"></span></figure>
                                    </div>
                                    <div class="username"><a href="/user/profile/{{ac_order.buyer_username}}">{{ac_order.buyer_username | title}}</a></div></div>
                                </div>
                                <div class="col-md-5 db-manage-gigs ">
                                    <div class="order-gig-title"><div class="gig-name"><a href="/gigs/{{ac_order.seller_username}}/{{ac_order.gig_title}}">{{ac_order.gig_title | title}}</a></div></div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell due-on">{{ac_order.due_date | date:"M d" }} </div>
                                </div>
                                <div class="col-md-1 db-manage-gigs ">
                                    <div class="tbl-cell total">${{ac_order.order_price }}</div>
                                </div>
                                <div class="col-md-2 db-manage-gigs ">
                                    <div class="tbl-cell status"><a href="/user/{{request.user.username}}/manage_orders/{{ac_order.order_id }}/activities"><div class="order-status" style="background: rgb(88, 74, 255); border-color: rgb(88, 74, 255);">Cancelled</a></div></div>
                                </div>
                            </div> 
                            {% for o_act in ac_order.order_activity %}
                                <div class="row text_row activity_row">
                                    <div class="col-md-3 db-manage-gigs ">
                                    </div>
                                    <div class="col-md-5 db-manage-gigs ">
                                        <div class="order-gig-title"><div class="gig-name">{{o_act.order_message}}</div></div>
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                   
                                    </div>
                                    <div class="col-md-1 db-manage-gigs ">
                                        {% if o_act.order_amount == 0 %}
                                            <div class="tbl-cell total"></div>
                                        {% else %}
                                            <div class="tbl-cell total">${{o_act.order_amount}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 db-manage-gigs ">
                                    
                                    </div>
                                </div>   
                            {% endfor %}                         
                            {% endfor %}
                        </div>
                      
                    </div>
                </div>     
             </div>
          </div>
       </div>
    </div>
 </div>
{% include  'Dashboard/base_seller.html' %}
{% endblock %}