{% include  'base.html' %}
{% load static %}
{% block contentarea%}
<title>Letworkbedone - {{request.user.username}} / Thank You</title>
<link rel="stylesheet" href="{% static 'assets/css/frontend/thankyoutip.css' %}" type="text/css" />
<div class="all_page page-flex__content pt0 m0">
   <div id="event_list" class="event-list js-event-list"></div>
   <div id="fox_notification_block"></div>
   <div class="row justify-content-center mt-0" id="manage_gigs">
      <div class="col-7 text-center p-0 mt-3 mb-2">
        <div class="step-form m-b-20">
            <section class="thank-you">
               <h1>Thank You</h1>
               <article>
                  <i class="fa fa-check-circle-o"></i>
                  <p class="p-t-20"> Thank you, for your tip, it will feel great honour to the seller <b>{{seller_username}}</b> and encourage him to do good work.</p>
                  <p class="mt-3"><a href="/manage_orders" class="m-t-20">Manage your orders now.</a></p>
               </article>
            </section>
         </div>
      </div>
      <div class="col-5 text-center p-0 mt-3 mb-2">
        <div class="order-box">
            <div class="info-wrap">
               <img src="{{seller_gig_details.0.gig_image}}">
               <div class="info">
                  <h5>
                    I will {{seller_gig_details.0.gig_title}}
                  </h5>
                  <ul class="extras">
                    {% for extra in seller_gig_details.0.offer_extra %}
                        {% if extra.value != 'true' %}
                            <li>
                                <i class="fa fa-check"></i> {{extra.value}} - {{extra.name|title}}
                            </li>
                        {% else %}
                            <li>
                                <i class="fa fa-check"></i>{{extra.name|title}}
                            </li>
                        {% endif %}
                        
                    {% endfor %}
                  </ul>
                  <ul class="general">
                     {% if seller_gig_details.0.order_status == 'late' %}
                        <li><span>Status</span><span class="status-bar in_late">{{seller_gig_details.0.order_status}}</span></li>
                     {% else %}
                        <li><span>Status</span><span class="status-bar in_progress">{{seller_gig_details.0.order_status}}</span></li>
                     {% endif %}
                        <li><span>Order</span><span>#{{seller_gig_details.0.order_no}}</span></li>
                     <li><span>Order Date</span><span> {{ seller_gig_details.0.order_date|date:"M d, y" }}  </span></li>
                     <li><span>Quantity</span><span>X 1</span></li>
                     <li><span>Price</span><span>$ {{seller_gig_details.0.order_amount}}</span></li>
                  </ul>
               </div>
            </div>
         </div>
       </div>
   </div>
</div>
{% include  'Dashboard/base_buyer.html' %}
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script>

    var chkReadyState = setInterval(function() {
        if (document.readyState == "complete") {
            clearInterval(chkReadyState);
            location_href =  $(location).attr('href').split("/");
            paymethod = location_href[4];
            if(paymethod == "flutter")
            {
                order_to_username = location_href[5]
                parameters = location_href[6].split("?");
                order_no = parameters[0]
                params = parameters[1].split("&")
                status = params[0].split("=")[1]
                trans_ref = params[1].split("=")[1]
                trans_id = params[2].split("=")[1]
                $.ajax({
                    type:"GET",
                    url: "/post_flutter_tip_details/",
                    data: {'order_no':order_no,'order_to_user':order_to_username,'status':status, 'trans_ref':trans_ref,'trans_id':trans_id},
                    success: function(data) 
                    {  
                        if(data == "sucess")
                        {
                            setTimeout(function() {
                                location_href =  $(location).attr('href').split("/");
                                window.location.href = location_href[0]+"//"+location_href[2] +"/manage_orders";
                            }, 60000);
                        }
                    }
                });
    
            }
            else if(paymethod == "paypal")
            {
                username = location_href[5]
                order_no = location_href[6]
                payer_id = location_href[7]
                payer_email = location_href[8]
                trans_id = location_href[9]
                trans_status = location_href[10]
                base_price = location_href[11]
                total_price = location_href[12]
                service_fees = location_href[13]
                used_credits = location_href[14]
                $.ajax({
                    type:"GET",
                    url: "/post_paypal_tip_details/",
                    data: {'order_to_user':username,'order_no':order_no,'payer_id':payer_id,'payer_email':payer_email,'trans_id':trans_id,'trans_status':trans_status,'base_price':base_price,'total_price':total_price,'service_fees':service_fees,'used_credits':used_credits},
                    success: function(data) 
                    {  
                        if(data == "sucess")
                        {
                            
                        }
                    }
                });
            }
            else if(paymethod == "credit")
            {
                username = location_href[5]
                order_no = location_href[6]
                base_price = location_href[7]
                total_price = location_href[8]
                service_fees = location_href[9]
                used_credits = location_href[10] 
            }    
        }
    }, 1000);
   $(document).ready(function(){

   });
</script>
{% endblock %}